logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/conf/application.conf
/conf/apps.conf
/conf/worker.conf
/conf/logger.xml
logback.xml
logback-access.xml
gulpopts.json
/.cache-*
/${*
browserify-cache*.json

node_modules
/mocha.json

/.idea/*
!/.idea/modules.iml
!/.idea/modules/*.iml
!/.idea/codeStyleSettings.xml
.DS_Store