@import controllers.admin.AppointmentController.AppointmentFormData
@import domain.dao.CaseDao.Case
@import domain.{Appointment, AppointmentType, Room}
@import views.html.b3.B3FieldConstructor

@(
  form: Form[AppointmentFormData],
  relatedCases: Set[Case],
  availableRooms: Seq[Room],
)(implicit messagesProvider: MessagesProvider, fieldConstructor: B3FieldConstructor)

@b3.free('_label -> "Cases", '_class -> form.error("cases").map(_ => "has-error")) {
  <div class="case-picker-collection" data-automatic="true" data-containers="case-picker-container">
    @defining(form.data.filter { case (k, v) => k.startsWith("cases[") && v.nonEmpty }.values.toSeq) { values: Seq[String] =>
      @if(values.nonEmpty){
        @for(value <- values) {
          <div class="case-picker-container">
            <input type="text" class="case-picker form-control" name="cases[]" value="@value" placeholder="Search for a case" autocomplete="off" />
          </div>
        }
      }
      <div class="case-picker-container">
        <input type="text" class="case-picker form-control" name="cases[]" placeholder="Search for a case" autocomplete="off" />
      </div>
    }
  </div>
  @b3.errors(form("cases"))
}

@b3.free('_label -> "Clients", '_class -> form.error("clients").map(_ => "has-error")) {
  @tags.flexipicker(values = form.data.filter { case (k, v) => k.startsWith("clients[") && v.nonEmpty }.values.toSeq, name = "clients[]", placeholder = "Search for users", multiple = true, universityId = true)
  @b3.errors(form("clients"))
}

@b3.datetimeLocal(form("appointment.start"),
  '_label -> "Start date/time"
)

@b3.select(form("appointment.duration"),
  options = Appointment.DurationOptions.map { case (s, d) => d.getSeconds.toString -> s },
  '_label -> "Duration",
  '_default -> "",
  'required -> true
)

@b3.select(form("appointment.roomID"),
  options = availableRooms.map { r => r.id.toString -> s"${r.name}, ${r.building.name}" },
  '_label -> "Location",
  '_default -> ""
)

@b3.free('_label -> "Team member", '_class -> form.error("appointment.teamMember").map(_ => "has-error")) {
  @tags.flexipicker(values = form.data.filter { case (k, v) => k.startsWith("appointment.teamMember") && v.nonEmpty }.values.toSeq, name = "appointment.teamMember", placeholder = "Search for a team member", multiple = false, team = "any")
}

@b3.select(form("appointment.appointmentType"),
  options = AppointmentType.values.map { t => t.entryName -> t.description },
  '_label -> "Appointment type",
  '_default -> "",
  'required -> true
)