@import java.time.{Duration, OffsetDateTime}

@import domain.{IssueKey, Team}
@import warwick.sso.UniversityID

@(
  teams: Seq[Team],
  forCase: Option[IssueKey],
  client: Option[UniversityID],
  start: Option[OffsetDateTime],
  duration: Option[Duration],
)(implicit context: RequestContext)

@main("Create an appointment - select team") {
  <p>Select a team to assign the appointment to:</p>

  <ul>
    @teams.map { team =>
      <li><a href="@controllers.admin.routes.AppointmentController.createForm(team.id, forCase, client, start, duration)">@team.name</a></li>
    }
  </ul>
}