@import controllers.admin.AppointmentController.AppointmentFormData
@import domain.dao.CaseDao.Case
@import domain.{Room, Team}

@(
  team: Team,
  form: Form[AppointmentFormData],
  relatedCases: Set[Case],
  availableRooms: Seq[Room],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Create a ${team.name} appointment") {
  @b3.vertical.formCSRF(controllers.admin.routes.AppointmentController.create(team.id)) { implicit ifc =>
    @appointmentFields(form, relatedCases, availableRooms)

    @tags.submitOrCancel("Create", controllers.admin.routes.AdminController.teamHome(team.id))
  }
}