@import controllers.admin.AppointmentController.{AppointmentFormData, Mode}
@import domain.{AppointmentRender, Room}

@(
  a: AppointmentRender,
  form: Form[AppointmentFormData],
  availableRooms: Seq[Room],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Edit appointment ${a.appointment.key.string}") {
  @b3.vertical.formCSRF(action = controllers.admin.routes.AppointmentController.edit(a.appointment.key)) { implicit ifc =>
    @b3.validatedHidden(form, "version")

    @views.html.admin.appointments.appointmentFields(form, availableRooms, Mode.Edit, Some(a))

    @tags.submitOrCancel("Update", controllers.admin.routes.AppointmentController.view(a.appointment.key))
  }
}