@import controllers.admin.AppointmentController.AppointmentFormData
@import domain.{Appointment, Room}
@import domain.dao.CaseDao.Case

@(
  appointment: Appointment,
  form: Form[AppointmentFormData],
  relatedCases: Set[Case],
  availableRooms: Seq[Room],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Edit appointment ${appointment.key.string}") {
  @views.b3.wellbeing.vertical.formCSRF(
    action = controllers.admin.routes.AppointmentController.edit(appointment.key),
    'class -> "appointment-freebusy-form",
    Symbol("data-freebusy") -> controllers.admin.routes.AppointmentController.freeBusy().url,
    Symbol("data-freebusyresources") -> controllers.admin.routes.AppointmentController.freeBusyResources().url
  ) { implicit ifc =>
    @b3.validatedHidden(form, "version")

    @views.html.admin.appointments.appointmentFields(form, relatedCases, availableRooms)

    @tags.submitOrCancel("Update", controllers.admin.routes.AppointmentController.view(appointment.key))
  }
}