@import controllers.admin.AppointmentOutcomesController.AppointmentOutcomesFormData
@import domain.{AppointmentCancellationReason, AppointmentClientAttendanceState, AppointmentDSASupportAccessed, AppointmentOutcome, AppointmentRender}

@import domain.AppointmentDSAActionPoint
@(
  a: AppointmentRender,
  form: Form[AppointmentOutcomesFormData],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Record appointment outcomes - ${a.appointment.key.string}") {
  @b3.vertical.formCSRF(controllers.admin.routes.AppointmentOutcomesController.outcomes(a.appointment.key), 'class -> "appointment-outcomes") { implicit fc =>
    @b3.validatedHidden(form, "version")

    @defining(b3.inline.fieldConstructorSpecific) { implicit ifc: b3.B3FieldConstructor =>
      <table class="table table-default">
        <caption>Attendance</caption>
        <thead>
          <tr>
            <th class="col-sm-4">Client</th>
            <th class="col-sm-4">Attended</th>
            <th class="col-sm-4">Cancellation reason</th>
          </tr>
        </thead>
        <tbody>
          @a.clients.toSeq.sortBy(_.client.universityID.string).zipWithIndex.map { case (client, i) =>
            <tr>
              <td>
                @client.client.safeFullName

                @b3.validatedHidden(form, s"attendance[$i].client")
              </td>
              <td>
                @b3.select(form(s"attendance[$i].attendanceState"),
                  options = AppointmentClientAttendanceState.values.map { s => s.entryName -> s.description },
                  '_hiddenLabel -> s"${client.client.safeFullName} attended",
                  '_default -> "",
                  'required -> true
                )
              </td>
              <td>
                @b3.select(form(s"attendance[$i].cancellationReason"),
                  options = ("", "") +: AppointmentCancellationReason.values.map { r => r.entryName -> r.description },
                  '_hiddenLabel -> s"${client.client.safeFullName} cancellation reason",
                )
                @b3.errors(form(s"attendance[$i]"))
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

    @b3.checkboxGroup(
      label = "Outcomes",
      items = AppointmentOutcome.values,
      form = form,
      field = "outcomes.outcome",
      idPrefix = "outcome"
    )

    @if(AppointmentDSASupportAccessed.valuesFor(a.appointment.team).nonEmpty) {
      @b3.select(form("outcomes.dsaSupportAccessed"),
        options = ("", "") +: AppointmentDSASupportAccessed.valuesFor(a.appointment.team).map { t => t.entryName -> t.description },
        '_label -> "DSA type of support accessed",
      )
    }

    @if(AppointmentDSAActionPoint.valuesFor(a.appointment.team).nonEmpty) {
      @b3.checkboxGroup(
        label = "DSA action points",
        items = AppointmentDSAActionPoint.valuesFor(a.appointment.team),
        form = form,
        field = "outcomes.dsaActionPoints",
        idPrefix = "dsaActionPoint",
        withOther = Some(AppointmentDSAActionPoint.Other(None)).filter(_.applicableTo.contains(a.appointment.team)),
      )
    }

    @b3.textarea(
      form("note"),
      '_label -> "Appointment notes (optional)",
      '_help -> "(this will be added to all linked cases)",
      'rows -> 5,
      'helpOnTop -> true
    )

    @tags.submitOrCancel("Record outcomes", controllers.admin.routes.AppointmentController.view(a.appointment.key))
  }
}