@import controllers.admin.AppointmentController.CancelAppointmentData
@import domain.{AppointmentCancellationReason, AppointmentClient, AppointmentRender, AppointmentState, SitsProfile}
@import warwick.sso.{UniversityID, User, Usercode}
@import controllers.admin.AppointmentController.AppointmentNoteFormData
@import controllers.admin.AppointmentController
@import java.time.OffsetDateTime
@(
  a: AppointmentRender,
  profiles: Map[AppointmentClient, Option[SitsProfile]],
  userLookup: Map[Usercode, User],
  appointmentNoteForm: Form[AppointmentNoteFormData],
  cancelForm: Form[CancelAppointmentData],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(
  title = s"${a.appointment.key.string} ${a.appointment.subject(Some(userLookup), Some(a.clients))}",
  icon = tags.icons.appointmentState(a.appointment.state)
) {
  <div class="appointment-details">
    <div class="appointment-details--header">
      @a.clients.map { client =>
        <h5>
          <a href="@controllers.admin.routes.ClientController.client(client.client.universityID)">@client.client.safeFullName</a>,
          @client.client.universityID.string,
          @profiles.get(client).flatten.map { profile =>
            @views.tags.profiles.typeAndDepartment(profile)
          }
          @tags.appointments.clientAppointmentState(a.appointment, client)
        </h5>
      }
    </div>
    <div class="appointment-details--actions row">
      <div class="col-sm-6 col-md-7"> @* TODO history *@

        @tags.sectioned.detail("Date/time") {
          @helpers.JavaTime.Relative(a.appointment.start) &ndash; @a.appointment.end.format(java.time.format.DateTimeFormatter.ofPattern("HH:mm"))
        }

        @a.room.map { room =>
          @tags.sectioned.detail("Location") {
            @tags.mapLink(room)
          }
        }

        @tags.sectioned.detail("Team member") {
          @userLookup.get(a.appointment.teamMember).flatMap(_.name.full).getOrElse(s"Unknown (${a.appointment.teamMember.string})")
        }

        @tags.sectioned.detail("Team") {
          @a.appointment.team.name team
        }

        @tags.sectioned.detail("Appointment type") {
          @a.appointment.appointmentType.description
        }

        @if(a.clientCases.nonEmpty) {
          @tags.sectioned.detail("Cases") {
            <ul class="list-unstyled">
            @a.clientCases.map { clientCase =>
              <li><a href="@controllers.admin.routes.CaseController.view(clientCase.key.get)">@clientCase.key.get.string @clientCase.subject</a></li>
            }
            </ul>
          }
        }

        @tags.sectioned.detail("State") {
          <span class="label label-@a.appointment.state.labelType" @a.appointment.cancellationReason.map { r => title="@r.description" }>
            @tags.icons.appointmentState(a.appointment.state)
            @a.appointment.state
          </span>

          @if(a.appointment.state == AppointmentState.Provisional || a.appointment.state == AppointmentState.Accepted) {
            &nbsp;
            @b3.horizontal.formCSRF(controllers.admin.routes.AppointmentController.cancel(a.appointment.key), "col-sm-3", "col-sm-9", 'class -> "inline-form") { implicit ifc =>
              <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#cancel-modal">@tags.icons.appointmentCancel() Cancel</button>

            @b3.validatedHidden(cancelForm, "version")

              <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="cancel-modal-label">Cancel appointment</h4>
                    </div>
                    <div class="modal-body form-vertical">
                    @b3.select(cancelForm("cancellationReason"),
                      options = AppointmentCancellationReason.values.map { r => r.entryName -> r.description },
                      '_label -> "Reason",
                      '_default -> "",
                      'required -> true
                    )
                    </div>
                    <div class="modal-footer spaced-buttons">
                      <button type="submit" class="btn btn-primary">Cancel appointment</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        }

        @a.appointment.cancellationReason.map { reason =>
          @tags.sectioned.detail("Cancellation reason") {
            @reason.description
          }
        }
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="row form-horizontal">
          <div class="col-sm-4 control-label">
            Actions
          </div>
          <div class="col-sm-8">
            <p>
              <a class="btn btn-default btn-block" href="@controllers.admin.routes.AppointmentController.editForm(a.appointment.key)">Edit appointment</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    @tags.sectioned.section("appointment", "Appointment notes", isCollapsible=true) {
      @b3.vertical.formCSRF(controllers.admin.routes.AppointmentController.addNote(a.appointment.key)) { implicit ifc =>
        <div class="panel panel-default panel-form">
          <div class="panel-heading">
            <h3 class="panel-title">Add an appointment note</h3>
          </div>
          <div class="panel-body">
            @b3.validatedHidden(appointmentNoteForm, "version")
            @b3.textarea(appointmentNoteForm("text"), 'rows -> 5)
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      }

      @a.notes.map { note =>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title clearfix">
              <span class="date pull-right">
                @helpers.JavaTime.Relative(note.created)
                @if(note.lastUpdated != note.created) {
                  (last updated @helpers.JavaTime.Relative(note.lastUpdated))
                }
              </span>
            </h3>
          </div>
          <div class="panel-body">
            @views.utils.nl2br(note.text)
          </div>
          <div class="panel-footer">
            <div class="pull-right">
              <a class="btn btn-default btn-xs" href="@controllers.admin.routes.AppointmentController.editNoteForm(a.appointment.key, note.id)">Edit</a>
              @defining(AppointmentController.deleteForm(note.lastUpdated).fill(note.lastUpdated)) { form: Form[OffsetDateTime] =>
                @b3.inline.formCSRF(controllers.admin.routes.AppointmentController.deleteNote(a.appointment.key, note.id), 'class -> "inline-form") { implicit ifc =>
                  @b3.validatedHidden(form, "version")
                  <button type="submit" class="btn btn-default btn-xs" data-toggle="confirm-submit" data-message="Are you sure you want to delete this appointment note?">Delete</button>
                }
              }
            </div>
            <div class="author">
              @userLookup.get(note.teamMember).flatMap(_.name.full).getOrElse(s"[unknown user ${note.teamMember.string}]")
            </div>
          </div>
        </div>
      }
    }

  </div>
}