@import domain.dao.CaseDao.Case
@import domain.{Appointment, AppointmentClient, AppointmentRender, Room}
@import warwick.sso.{User, Usercode}

@(
  title: Option[String],
  appointments: Seq[AppointmentRender],
  userLookup: Option[Map[Usercode, User]],
  emptyMessage: Option[String] = None,
)(implicit context: RequestContext)

@appointmentRow(appointment: Appointment, clients: Set[AppointmentClient], room: Option[Room], clientCases: Set[Case]) = {
  <tr>
    <td>
      <ul class="list-unstyled">
        @clients.toSeq.sortBy(_.client).map { client =>
          <li>
            <a href="@controllers.admin.routes.ClientController.client(client.client.universityID)">@client.client.safeFullName</a>
            @tags.appointments.clientAppointmentState(appointment, client)
          </li>
        }
      </ul>
    </td>
    <td>
      @tags.icons.appointmentState(appointment.state)
      <a href="@controllers.admin.routes.AppointmentController.view(appointment.key)">@appointment.key.string @appointment.subject(userLookup, Some(clients))</a>
    </td>
    <td>
      @helpers.JavaTime.Relative(appointment.start) &ndash; @appointment.end.format(java.time.format.DateTimeFormatter.ofPattern("HH:mm"))
    </td>
    @userLookup.map { userLookup =>
      <td>@userLookup.get(appointment.teamMember).flatMap(_.name.full)</td>
    }
    <td>
      @room.map(_.name)
      (@appointment.appointmentType.description)
    </td>
  </tr>
}

@if(appointments.nonEmpty) {
  <table class="table table-default">
    @title.map { t => <caption>@t</caption> }
    <thead>
      <tr>
        <th class="col-sm-2">Clients</th>
        <th class="col-sm-4">Subject</th>
        <th class="col-sm-2">When</th>
        @if(userLookup.nonEmpty) {
          <th class="col-sm-2">Staff member</th>
        }
        <th class="col-sm-@if(userLookup.nonEmpty) {2} else {4}">Location</th>
      </tr>
    </thead>
    <tbody>
      @appointments.map { a =>
        @appointmentRow(a.appointment, a.clients, a.room, a.clientCases)
      }
    </tbody>
  </table>
} else {
  @emptyMessage.map { m => <p>@m</p> }
}