

@(
  cancelledAppointments: Int,
  eventsRoute: Call,
  createRoute: Call,
  cancelledAppointmentsRoute: Call,
  searchScope: String,
  searchScopeValue: String,
  placeholderSuffix: String
)(implicit context: RequestContext, request: RequestHeader, messagesProvider: MessagesProvider)

@b3.vertical.formCSRF(routes.AppointmentSearchController.search(),
  'class -> "appointment-search",
  Symbol("data-search-scope") -> searchScope,
  Symbol("data-search-scope-value") -> searchScopeValue
) { implicit ifc =>
  @b3.free('_class -> "search-default") {
    <i class="fal fa-search"></i>
    <input type="text" class="form-control input-lg" placeholder="Search appointments@placeholderSuffix" />
  }
}

<p><a href="@createRoute" class="btn btn-default">Create a new appointment</a></p>

<div class="appointment-calendar no-wide-tables" data-events="@eventsRoute" data-create="@createRoute"></div>

@if(cancelledAppointments > 0) {
  <details data-toggle="load" data-href="@cancelledAppointmentsRoute" data-target=".content">
    <summary>Show @tags.p(cancelledAppointments, "cancelled appointments")()</summary>
    <div class="content">
      <i class="fas fa-spinner fa-spin"></i> Loading&hellip;
    </div>
  </details>
}