@import java.util.UUID

@import controllers.admin.AdminController
@import domain.{EnquiryListRender, IdAndDescription, IssueListFilter, Member, Pagination}
@import warwick.core.helpers.JavaTime
@import warwick.sso.Usercode

@(
  title: Option[String],
  enquiries: Seq[EnquiryListRender],
  owners: Option[Map[UUID, Set[Member]]],
  allOwners: Option[Seq[Member]],
  enquiryOwnersFilterForm: Option[Form[Set[Usercode]]],
  issueListFilterForm: Option[Form[IssueListFilter]],
  pagination: Pagination,
  emptyMessage: Option[String] = None,
)(implicit context: RequestContext, messages: MessagesProvider)

@enquiryRow(render: EnquiryListRender) = {
  <tr>
    <td>
      <a href="@controllers.admin.routes.ClientController.client(render.enquiry.client.universityID)">@render.enquiry.client.safeFullName</a>
    </td>
    <td>
      <a href="@controllers.admin.routes.TeamEnquiryController.messages(render.enquiry.key)">@render.enquiry.key.string @render.enquiry.subject</a>
    </td>
    @owners.map { ownersMap =>
      <td>
        @ownersMap.get(render.enquiry.id).map { enquiryOwners =>
          <ul class="list-unstyled">
            @enquiryOwners.toSeq.sorted.map { owner =>
              <li>@owner.safeFullName</li>
            }
          </ul>
        }
      </td>
    }
    <td>@JavaTime.Relative(render.lastUpdated)</td>
  </tr>
}

@if(pagination.isFirst) {
  @if(enquiries.nonEmpty || enquiryOwnersFilterForm.exists(_.value.exists(_.nonEmpty)) || issueListFilterForm.exists(_.value.exists(_.nonEmpty))) {
    <table class="table table-default table-paginated" data-pagination="@pagination.route">
      @title.map { t => <caption>@t</caption> }
      <thead>
        <tr>
          <th class="col-sm-3">Client</th>
          @if(owners.nonEmpty) {
            <th class="col-sm-4">Subject</th>
            <th class="col-sm-2">
              Owners
              @allOwners.map { members =>
                <button type="button" class="btn btn-link" data-toggle="filter">
                  <i class="@if(enquiryOwnersFilterForm.exists(_.value.exists(_.nonEmpty))) {fas} else {fal} fa-filter"></i><span class="sr-only">Filter</span>
                </button>
                <div class="hidden filter" aria-hidden="true">
                  @defining(enquiryOwnersFilterForm.getOrElse(AdminController.ownersFilterForm)) { form: Form[Set[Usercode]] =>
                    @b3.checkboxGroup(
                      label = "Filter owner",
                      items = members.map { m => IdAndDescription(m.usercode.string, m.safeFullName) }.toIndexedSeq,
                      form = form,
                      field = "usercodes",
                      idPrefix = "usercode",
                      columns = 2,
                      inModal = false
                    )(b3.vertical.fieldConstructor(), messages)

                    @b3.free('_class -> "spaced-buttons") {
                      <button type="submit" class="btn btn-primary"><i class="fal fa-filter"></i> Filter enquiries</button>
                      <button type="reset" class="btn btn-default">Clear filters</button>
                    }(b3.vertical.fieldConstructor(), messages)
                  }
                </div>
              }
            </th>
          } else {
            <th class="col-sm-6">Subject</th>
          }
          <th class="col-sm-3">
            Last updated
            <button type="button" class="btn btn-link" data-toggle="filter">
              <i class="@if(issueListFilterForm.exists(_.value.exists(_.nonEmpty))) {fas} else {fal} fa-filter"></i><span class="sr-only">Filter</span>
            </button>
            <div class="hidden filter" aria-hidden="true">
              @defining(issueListFilterForm.getOrElse(IssueListFilter.form.fill(IssueListFilter(lastUpdatedBefore = Some(JavaTime.offsetDateTime))))) { form: Form[IssueListFilter] =>
                @b3.datePicker(form("lastUpdatedAfter"),
                  '_label -> "Last updated after"
                )(b3.vertical.fieldConstructor(), messages.messages)

                @b3.datePicker(form("lastUpdatedBefore"),
                  '_label -> "Last updated before"
                )(b3.vertical.fieldConstructor(), messages.messages)

                @b3.free('_class -> "spaced-buttons") {
                  <button type="submit" class="btn btn-primary"><i class="fal fa-filter"></i> Filter enquiries</button>
                  <button type="reset" class="btn btn-default">Clear filters</button>
                }(b3.vertical.fieldConstructor(), messages)
              }
          </th>
        </tr>
      </thead>
      <tfoot>
        @tags.tablePagination(pagination, owners.fold(3)(_ => 4), Seq(enquiryOwnersFilterForm, issueListFilterForm).flatten)
      </tfoot>
      <tbody>
        @enquiries.map(e => enquiryRow(e))
      </tbody>
    </table>
  } else {
    @emptyMessage.map { m => <p>@m</p> }
  }
} else {
  @if(enquiries.nonEmpty) {
    @enquiries.map(e => enquiryRow(e))
    @tags.tablePagination(pagination, owners.fold(3)(_ => 4), Seq(enquiryOwnersFilterForm, issueListFilterForm).flatten)
  } else {
    @emptyMessage.map { m =>
      <tr>
        <td colspan="@owners.fold(3)(_ => 4)">
          @m
        </td>
      </tr>
    }
  }
}
