@import java.util.UUID

@import controllers.Pagination
@import domain.{Enquiry, MessageData, SitsProfile}
@import warwick.sso.UniversityID

@import domain.Client
@import services.EnquiryService
@(
  title: Option[String],
  enquiries: Seq[(Enquiry, MessageData)],
  pagination: Option[Pagination] = None,
  emptyMessage: Option[String] = None,
)(implicit context: RequestContext)

@enquiryRow(enquiry: Enquiry, message: MessageData) = {
  <tr>
    <td>
      <a href="@controllers.admin.routes.ClientController.client(enquiry.client.universityID)">@enquiry.client.safeFullName</a>
    </td>
    <td>
      <a href="@controllers.admin.routes.TeamEnquiryController.messages(enquiry.key)">@enquiry.key.string @enquiry.subject</a>
    </td>
    <td>@helpers.JavaTime.Relative(message.created)</td>
  </tr>
}

@if(enquiries.nonEmpty) {
  @if(pagination.isEmpty || pagination.exists(_.isFirst)) {
    <table class="table table-default @if(pagination.isDefined){table-paginated}">
      @title.map { t => <caption>@t</caption> }
      <thead>
        <tr>
          <th class="col-sm-3">Client</th>
          <th class="col-sm-6">Subject</th>
          <th class="col-sm-3">Last message</th>
        </tr>
      </thead>
      <tbody>
        @enquiries.map { case (enquiry, message) => @enquiryRow(enquiry, message)}
        @pagination.map(p => tags.tablePagination(p))
      </tbody>
    </table>
  } else {
    @enquiries.map { case (enquiry, message) => @enquiryRow(enquiry, message)}
    @pagination.map(p => tags.tablePagination(p))
  }
} else {
  @emptyMessage.map { m => <p>@m</p> }
}