@import java.util.UUID

@import domain.{EnquiryListRender, IssueListFilter, Member, Pagination}
@import warwick.sso.Usercode

@(
  enquiries: Seq[EnquiryListRender],
  owners: Option[Map[UUID, Set[Member]]],
  allOwners: Option[Seq[Member]],
  enquiryOwnersFilterForm: Option[Form[Set[Usercode]]],
  issueListFilterForm: Option[Form[IssueListFilter]],
  pagination: Pagination
)(implicit context: RequestContext, messages: MessagesProvider)

@views.html.admin.enquiryTable(Some("Enquiries waiting for reply from client"), enquiries, owners, allOwners, enquiryOwnersFilterForm, issueListFilterForm, pagination, Some("There are no enquiries awaiting client"))