@import java.util.UUID

@import domain.{CaseListRender, Client, IssueListFilter, Member, Pagination}
@import warwick.sso.Usercode

@(
  cases: Seq[CaseListRender],
  clients: Map[UUID, Set[Client]],
  owners: Option[Map[UUID, Set[Member]]],
  allOwners: Option[Seq[Member]],
  caseOwnersFilterForm: Option[Form[Set[Usercode]]],
  issueListFilterForm: Option[Form[IssueListFilter]],
  pagination: Pagination,
)(implicit context: RequestContext, messages: MessagesProvider)

@views.html.admin.caseTable(Some("Open cases"), cases, clients, owners, allOwners, caseOwnersFilterForm, issueListFilterForm, pagination, Some("There are no open cases"))