@import java.util.UUID

@import domain.{Enquiry, MessageData, SitsProfile, Team}
@import warwick.sso.UniversityID

@(
  team: Team,
  requiringAction: Seq[(Enquiry, MessageData)],
  awaitingClient: Seq[(Enquiry, MessageData)],
  closedEnquiries: Int,
  clients: Map[UUID, Set[Either[UniversityID, SitsProfile]]]
)(implicit context: RequestContext, request: RequestHeader, messagesProvider: MessagesProvider)

@b3.vertical.formCSRF(routes.EnquirySearchController.search(), 'class -> "enquiry-search") { implicit ifc =>
  @b3.free() {
    <input type="text" class="form-control input-lg" placeholder="Search enquiries" />
  }
}

@views.html.admin.enquiryTable(Some("Enquiries requiring action"), requiringAction, clients)
@views.html.admin.enquiryTable(Some("Enquiries waiting for reply from client"), awaitingClient, clients)

@if(closedEnquiries == 0) {
  No closed enquiries to show
} else {
  <details data-toggle="load" data-href="@controllers.admin.routes.AdminController.closedEnquiries(team.id)" data-target=".content">
    <summary>Show @tags.p(closedEnquiries, "closed enquiry")(plural = "closed enquiries")</summary>
    <div class="content">
      <i class="fas fa-spinner fa-spin"></i> Loading&hellip;
    </div>
  </details>
}