@import controllers.RequestContext
@import domain.Team
@import domain.Enquiry
@import domain.MessageData
@import domain.SitsProfile
@import java.time.Duration
@import warwick.sso.UniversityID

@(team: Team,
  enquiries: Seq[(Enquiry, MessageData)],
  profiles: Map[UniversityID, SitsProfile]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@main(team.name) {
  <form action="@routes.ClientSearchController.search()" method="get" class="client-search">
    <input type="text" class="form-control input-lg" placeholder="Search for a client" />
  </form>

  @if(enquiries.nonEmpty) {
    <h2>Enquiries requiring action</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Last message</th>
          <th>Team assigned</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @enquiries.map { case (enquiry, message) =>
          @defining(profiles.get(enquiry.universityID)) { profile: Option[SitsProfile] =>
            <tr>
              <td>
                @profile.map { p: SitsProfile =>
                  <a href="@controllers.admin.routes.ClientController.client(p.universityID)">@p.fullName</a>
                }.getOrElse { @enquiry.universityID }
              </td>
              <td>@enquiry.subject</td>
              <td>@helpers.JavaTime.Relative(enquiry.created)</td>
              <td>@helpers.JavaTime.Relative(message.created)</td>
              <td>
                @enquiry.team.name
                <a class="btn btn-default" href="@controllers.admin.routes.TeamEnquiryController.reassignForm(enquiry.id.get)">Reassign</a>
              </td>
              <td><a class="btn btn-default" href="@controllers.enquiries.routes.EnquiryMessagesController.messages(enquiry.id.get)">View</a></td>
            </tr>
          }
        }
      </tbody>
    </table>

  }
}
