@import controllers.RequestContext
@import domain.dao.CaseDao.Case
@import domain.Team
@import domain.Enquiry
@import domain.MessageData
@import domain.SitsProfile
@import java.time.Duration
@import warwick.sso.UniversityID

@import domain.EnquiryOwner
@import java.util.UUID
@import warwick.sso.User
@import play.api.libs.json._
@(team: Team,
  ownerEnquiries: Seq[(Enquiry, MessageData)],
  teamEnquiries: Seq[(Enquiry, MessageData)],
  ownerCases: Seq[Case],
  teamCases: Seq[Case],
  clients: Map[UUID, Set[SitsProfile]],
  owners: Map[UUID, Set[User]]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@enquiryRow(enquiry: Enquiry, message: MessageData) = {
  <tr>
    <td>
      @clients.get(enquiry.id.get).flatMap(_.headOption).map { p: SitsProfile =>
        <a href="@controllers.admin.routes.ClientController.client(p.universityID)">@p.fullName</a>
      }.getOrElse { @enquiry.universityID }
    </td>
    <td>@enquiry.key.get.string @enquiry.subject</td>
    <td>@helpers.JavaTime.Relative(enquiry.created)</td>
    <td>@helpers.JavaTime.Relative(message.created)</td>
    <td>
      @enquiry.team.name
      <a class="btn btn-default" href="@controllers.admin.routes.TeamEnquiryController.reassignForm(enquiry.key.get)">Reassign</a>
    </td>
    <td>
      <button
        class="btn btn-link user-list-popover"
        data-users="@Json.stringify(JsArray(owners.getOrElse(enquiry.id.get, Set()).map(u => Json.obj(
          "universityID" -> u.universityId.get.string,
          "name" -> JsString(u.name.full.getOrElse("[Unknown user]"))
        )).toSeq))"
        data-more-link="@controllers.admin.routes.OwnersController.enquiryForm(enquiry.key.get)"
        data-more-caption="Edit owners"
        type="button"
      >
        <i class="fa fa-users"></i>
        @owners.getOrElse(enquiry.id.get, Set()).size
      </button>
    </td>
    <td><a class="btn btn-default" href="@controllers.enquiries.routes.EnquiryMessagesController.messages(enquiry.key.get)">View</a></td>
  </tr>
}

@caseRow(clientCase: Case) = {
  <tr>
    <td>
      @clients.get(clientCase.id.get).map { profiles =>
        @profiles.toSeq.map { p =>  <a href="@controllers.admin.routes.ClientController.client(p.universityID)">@p.fullName</a> }
      }
    </td>
    <td>@clientCase.key.get.string @clientCase.subject</td>
    <td>@helpers.JavaTime.Relative(clientCase.created)</td>
    <td>
      @clientCase.team.name
      <a class="btn btn-default" href="@controllers.admin.routes.CaseController.reassignForm(clientCase.key.get)">Reassign</a>
    </td>
    <td>
      <button
        class="btn btn-link user-list-popover"
        data-users="@Json.stringify(JsArray(owners.getOrElse(clientCase.id.get, Set()).map(u => Json.obj(
          "universityID" -> u.universityId.get.string,
          "name" -> JsString(u.name.full.getOrElse("[Unknown user]"))
        )).toSeq))"
        data-more-link="@controllers.admin.routes.OwnersController.caseSubmit(clientCase.key.get)"
        data-more-caption="Edit owners"
        type="button"
      >
        <i class="fa fa-users"></i>
        @owners.getOrElse(clientCase.id.get, Set()).size
      </button>
    </td>
    <td><a class="btn btn-default" href="@controllers.admin.routes.CaseController.view(clientCase.key.get)">View</a></td>
  </tr>
}

@main(team.name) {
  <form action="@routes.ClientSearchController.search()" method="get" class="client-search">
    <input type="text" class="form-control input-lg" placeholder="Search for a client" />
  </form>

  @if(ownerEnquiries.nonEmpty) {
    <h2>Enquiries assigned to me requiring action</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Last message</th>
          <th>Team assigned</th>
          <th>Owners</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @ownerEnquiries.map { case (enquiry, message) =>
          @enquiryRow(enquiry, message)
        }
      </tbody>
    </table>
  }

  @if(teamEnquiries.nonEmpty) {
    <h2>Enquiries assigned to @team.name requiring action</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Last message</th>
          <th>Team assigned</th>
          <th>Owners</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @teamEnquiries.map { case (enquiry, message) =>
          @enquiryRow(enquiry, message)
        }
      </tbody>
    </table>
  }

  @if(ownerCases.nonEmpty) {
    <h2>Open cases assigned to me</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Team assigned</th>
          <th>Owners</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @ownerCases.map { clientCase =>
          @caseRow(clientCase)
        }
      </tbody>
    </table>
  }

  @if(teamCases.nonEmpty) {
    <h2>Open cases assigned to @team.name</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Team assigned</th>
          <th>Owners</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @teamCases.map { clientCase =>
          @caseRow(clientCase)
        }
      </tbody>
    </table>
  }

  <p><a href="@controllers.admin.routes.CaseController.createForm(team.id)" class="btn btn-default">Create a case</a></p>
}
