@import java.time.OffsetDateTime
@import java.util.UUID

@import controllers.RequestContext
@import domain.dao.CaseDao.Case
@import domain.{Enquiry, MessageData, SitsProfile, Team}
@import warwick.sso.UniversityID

@(team: Team,
  enquiriesRequiringAction: Seq[(Enquiry, MessageData)],
  enquiriesAwaitingClient: Seq[(Enquiry, MessageData)],
  openCases: Seq[(Case, OffsetDateTime)],
  clients: Map[UUID, Set[Either[UniversityID, SitsProfile]]]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@main(s"${team.name} team") {
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#enquiries" aria-controls="enquiries" role="tab" data-toggle="tab">@tags.icons.enquiries() Enquiries</a>
    </li>
    <li role="presentation">
      <a href="#cases" aria-controls="cases" role="tab" data-toggle="tab">@tags.icons.cases() Cases</a>
    </li>
    <li role="presentation">
      <a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">@tags.icons.clients() Clients</a>
    </li>
    <li role="presentation">
      <a href="#appointments" aria-controls="appointments" role="tab" data-toggle="tab">@tags.icons.appointments() Appointments</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="enquiries">
      @views.html.admin.teamEnquiries(team, enquiriesRequiringAction, enquiriesAwaitingClient, clients)
    </div>
    <div role="tabpanel" class="tab-pane" id="cases">
      @views.html.admin.teamCases(team, openCases, clients)
    </div>
    <div role="tabpanel" class="tab-pane" id="clients">
      @views.html.admin.teamClients(team)
    </div>
    <div role="tabpanel" class="tab-pane" id="appointments">
      @views.html.admin.teamAppointments(team)
    </div>
  </div>
}
