@import domain._
@import domain.Registrations._
@(form: Form[CounsellingData])(implicit context: RequestContext, request: TeamSpecificRequest[_], messagesProvider: MessagesProvider)

@main("Register for Counselling") {

  @b3.vertical.formCSRF(controllers.registration.routes.RegisterController.submit(request.team.id)) { implicit ifc =>

    @if(form.hasErrors) {
      <div class="alert alert-danger">
        There were errors in your registration. Please correct them and submit again.
      </div>
    }

    @b3.checkboxGroup(
      label = "What type of Counselling would you like?",
      items = CounsellingTypes.values,
      form = form,
      field = "counselling-types",
      idPrefix = "counsellingType"
    )

    @b3.text(form("gp"),
      '_label -> "Confirm the name of your GP/Doctor"
    )

    @b3.text(form("tutor"),
      '_label -> "Confirm the name of your Personal Tutor/Supervisor"
    )

    @b3.checkboxGroup(
      label = "If you have a disability, please select from the options below",
      items = Disabilities.values,
      form = form,
      field = "disabilities",
      idPrefix = "disability"
    )

    @b3.checkboxGroup(
      label = "Are you currently taking any medication?",
      items = Medications.values,
      form = form,
      field = "medications",
      idPrefix = "medication"
    )

    @b3.checkboxGroup(
      label = "Do you have any Previous Counselling experience?",
      items = PreviousCounsellings.values,
      form = form,
      field = "previous-counsellings",
      idPrefix = "previous-counselling"
    )

    @b3.radio(form("appointment-availability"), AppointmentAvailabilities.values.map(a => a.id -> a.description),
      '_label -> "Please indicate your availability for an appointment?"
    )

    @b3.textarea(form("appointment-adjustments"),
      '_label -> "Please give details of any reasonable adjustments required for an appointment (please leave blank if not relevant)",
      'rows -> 3
    )

    @b3.checkboxGroup(
      label = "Who referred you to Counselling Services?",
      items = RegistrationReferrals.values,
      form = form,
      field = "referrals",
      idPrefix = "referral"
    )

    @tags.submitOrCancel("Submit", controllers.routes.IndexController.home())

  }

}