@import domain.Enquiry
@import org.apache.tika.mime.MediaType
@import domain.Client
@import java.util.UUID
@import warwick.sso.UniversityID
@import domain.Issue
@import domain.MessageSender
@(
  action: Call,
  messageForm: Form[_],
  supportedMimeTypes: Seq[MediaType],
  issue: Issue,
  client: Client,
  sender: MessageSender,
)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@b3.vertical.formCSRF(action, 'enctype -> "multipart/form-data", 'class -> "no-double-submit-protection") { implicit ifc =>
  @b3.validatedHidden(messageForm, "lastMessage")

  @defining(sender match {
    case MessageSender.Client => s"Send a message to ${issue.team.name}"
    case MessageSender.Team => s"Send a message to ${client.safeFullName}"
  }) { label: String =>
    @b3.free('_label -> label, '_class -> messageForm("text").error.map(_ => "has-error").getOrElse("")) {
      <div class="flex">
        @b3.textarea(messageForm("text"), 'rows -> 1, 'id -> s"${issue.id.toString}-${client.universityID.string}-text", Symbol("aria-label") -> label)(b3.clear.fieldConstructorSpecific, messagesProvider)
        @tags.messages.sendButton(confirm = sender match {
          case MessageSender.Client => None
          case MessageSender.Team => Some(s"Are you sure you want to send this message to ${client.safeFullName}?")
        })
        @tags.messages.attachButton(supportedMimeTypes, s"${issue.id.toString}-${client.universityID.string}-file")
      </div>

      @if(messageForm.hasErrors) {
        <div class="help-block">
          @messageForm.errors.map { error =>
            @error.format
          }
        </div>
      }
    }
  }

  <div class="alert alert-danger error hidden"></div>
  <div class="alert alert-danger needs-refresh hidden">
    <p>A new message has been sent but is not shown above. Update the messages and then re-send your message.</p>
    <button type="button" class="btn btn-primary">Update messages</button>
  </div>
}