@import domain.{MessageData, MessageSender, UploadedFile}
@import warwick.core.helpers.JavaTime

@(
  message: MessageData,
  files: Seq[UploadedFile],
  clientName: String,
  teamName: String,
  attachmentRoute: UploadedFile => Call,
  readIndicator: Option[Boolean] = None
)

@renderMessage(author: String) = {
  <div class="date pull-right">@JavaTime.Relative(message.created)</div>
  <div class="message--author">@author</div>
  @views.utils.nl2br(message.text)
  @if(files.nonEmpty) {
    <div class="message--attachment">
      <ul class="list-unstyled">
        @files.map { file =>
          <li>
            <i class="fal fa-paperclip"></i>
            <a href="@attachmentRoute(file)">@file.fileName</a>
          </li>
        }
      </ul>
    </div>
  }
  @readIndicator.map { isRead =>
    @if(isRead) {
      <div class="message--read-indicator pull-right">
        <i class="fal fa-check-double" title="This message has been seen"></i>
      </div>
    }
  }
}

@if(message.sender == MessageSender.Client) {
  <div class="message message-client" tabindex="0">
    @renderMessage(clientName)
  </div>
} else {
  <div class="message message-team" tabindex="0">
    @renderMessage(teamName)
  </div>
}