include "defaults"
include "local-dev"

domain = "changeme.warwick.ac.uk"

# For testing only!
#slick.dbs.default {
#  profile = "slick.jdbc.H2Profile$"
#  db {
#    driver = org.h2.Driver
#    url = "jdbc:h2:mem:play;MODE=Oracle"
#  }
#}

slick.dbs.default {
  profile = "domain.ExtendedPostgresProfile$"
  db {
    driver = "org.postgresql.Driver"
    url = "jdbc:postgresql://localhost:5432/casemanagement"
    user = "casemanagement"
    password = you should generate your own password and put it here
    numThreads = 10
  }
}

blobStore {
  default {
    container = "uk.ac.warwick.wellbeing.dev"
    encryption_key = "secret" // Generate using ./sbt newEncryptionKey

    provider = "swift"
    swift {
      endpoint = "https://objectstorage.warwick.ac.uk/auth/v2.0"
      username = "example"
      password = "secret"
    }

    # Or you can use your local file system

    provider = "fileSystem"
    fileSystem.baseDir = "/www/casemanagement/encryptedobjectstore"
  }
}

sso-client {
  credentials {
    certificate = "file:/home/mat/.ssl/changeme.warwick.ac.uk.crt"
    key = "file:/home/mat/.ssl/changeme.warwick.ac.uk.key"
    chain = "file:/home/mat/.ssl/terena-sha2-ca.crt"
  }
  trustedapps {
    publickey = "..."
    privatekey = "..."
  }
}

memcached.1.host: "localhost:11211"

wellbeing {
  photos {
    appname = "wellbeingsupportservices"
    key = "Somekey"
  }
}

mywarwick.instances.0.baseUrl = "https://my-dev.warwick.ac.uk"
mywarwick.instances.0.providerId = "wellbeing"
mywarwick.instances.0.userName = "wellbeing-mywarwick-api"
mywarwick.instances.0.password = "THE PASSWORD"

play.mailer {
  user = "..."
  password = "..."
}

# Get this from one of the live/test servers, all talk to the live virus scan service
# or generate a new one and put it in https://repo.elab.warwick.ac.uk/projects/SYSAD/repos/puppet3/browse/hieradata/deployments/virusscan/app/prod.eyaml
virusscan.api.key=some-key
