include "defaults.conf"

domain = "changeme.warwick.ac.uk"

play.http.secret.key="changeme"

play.evolutions.enabled=true
play.evolutions.db.default.autoApply=true
play.evolutions.db.default.autoApplyDowns=true

# For testing only!
#slick.dbs.default {
#  profile = "slick.jdbc.H2Profile$"
#  db {
#    driver = org.h2.Driver
#    url = "jdbc:h2:mem:play;MODE=Oracle"
#  }
#}

slick.dbs.default {
  profile = "slick.jdbc.OracleProfile$"
  db {
    driver = "oracle.jdbc.driver.OracleDriver"
    url = "jdbc:oracle:thin:@//racd1.warwick.ac.uk:1521/racd1.warwick.ac.uk"
    user = "..."
    password = "..."
    numThreads = 10
  }
}

sso-client {
  credentials {
    certificate = "file:/home/mat/.ssl/changeme.warwick.ac.uk.crt"
    key = "file:/home/mat/.ssl/changeme.warwick.ac.uk.key"
    chain = "file:/home/mat/.ssl/terena-sha2-ca.crt"
  }
  trustedapps {
    publickey = "..."
    privatekey = "..."
  }
}