@import domain.{Appointment, AppointmentClient, AppointmentState}

@(
  appointment: Appointment,
  client: AppointmentClient
)

@client.attendanceState.map { attendanceState =>
  <span class="@attendanceState.appointmentState.className" @client.cancellationReason.map { r => title="@r.description" }>
    @tags.icons.appointmentState(client.state, client = true)
    @attendanceState.description
  </span>
}.getOrElse {
  @if(client.state != appointment.state) {
    <span class="@client.state.className" @client.cancellationReason.map { r => title="@r.description" }>
      @tags.icons.appointmentState(client.state, client = true)
      @client.state.clientDescription
    </span>
  }
}
