@(
  values: Seq[String],
  name: String,
  placeholder: String = "",
  multiple: Boolean = false,
  autoMultiple: Boolean = true
)

@if(multiple) {
  <div class="member-picker-collection" data-automatic="@autoMultiple" data-containers="member-picker-container">
}

@for(value <- values) {
  <div class="member-picker-container">
    <input type="text" class="member-picker form-control" name="@name" placeholder="@placeholder"
    value="@value" autocomplete="off"
    />
  </div>
}

@if(values.isEmpty || (multiple && autoMultiple)) {
  <div class="member-picker-container">
    <input type="text" class="member-picker form-control" name="@name" placeholder="@placeholder"
    autocomplete="off"
    />
  </div>
}

@if(multiple) {
  </div>
}
