@import domain.IdAndDescription
@import domain.EnumEntryOther
@import uk.ac.warwick.util.core.StringUtils
@(
  label: String,
  items: IndexedSeq[_ <: IdAndDescription],
  form: Form[_],
  field: String,
  idPrefix: String,
  withOther: Option[_ <: EnumEntryOther] = None,
  columns: Int = 1,
  inModal: Boolean = true
)(implicit fc: views.html.b3.B3FieldConstructor, messagesProvider: MessagesProvider)

@checkboxGroupWithContent(
  label = label,
  items = items,
  form = form,
  field = field,
  idPrefix = idPrefix,
  withOther = withOther,
  columns = columns,
  inModal = inModal,
)()
