@import domain.SitsProfile
@import domain.Registration
@import domain.ClientSummary
@import domain.ClientSummaryData
@import domain.ReasonableAdjustment
@import domain.ClientRiskStatus
@(
  profile: SitsProfile,
  registration: Option[Registration],
  clientSummary: Option[ClientSummary],
  form: Form[ClientSummaryData],
  inMentalHealthTeam: Boolean,
  success: Option[String] = None
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@agents(name: String, profiles: Seq[SitsProfile]) = {
  <h3>@name</h3>

  <div class="row">
    @profiles.map { profile =>
      <div class="col-sm-6 col-md-4">
        <div class="row">
          @profile.photo.map { photo =>
            <div class="col-sm-4">
              <div class="photo">
                <img src="@photo" class="img-thumbnail">
              </div>
            </div>
          }
          <div class="col-sm-8">
            <strong>University ID: </strong> @profile.universityID.string<br />
            <strong>Full name: </strong> @profile.fullName<br />
            <strong>Department: </strong> @profile.department.name<br />
            <strong>Warwick email address: </strong> @profile.warwickEmail<br />
          </div>
        </div>
      </div>
    }
  </div>
}

@main(s"${profile.fullName}") {
  @if(form.hasErrors) {
    <div class="alert alert-danger">
      There were errors in the client summary below. Please correct them and submit again.
    </div>
  } else if (success.nonEmpty) {
    <div class="alert alert-success">
      @success.get
    </div>
  }

  @if(inMentalHealthTeam) {
    @if(clientSummary.flatMap(_.data.highMentalHealthRisk).contains(true)) {
      <div class="alert alert-warning">
        Client has a high mental health risk alert (<a href="#high-mental-health-risk">update</a>)
      </div>
    }
  }

  <h2>Profile</h2>

  <div class="row">
    @profile.photo.map { photo =>
      <div class="col-md-4 col-lg-3">
        <div class="photo">
          <img src="@photo" class="img-thumbnail">
        </div>
      </div>
    }
    <div class="col-md-4">
      <strong>University ID: </strong> @profile.universityID.string<br />
      <strong>Full name: </strong> @profile.fullName<br />
      <strong>Department: </strong> @profile.department.name<br />
      <strong>Date of birth: </strong> @profile.dateOfBirth<br />
      <strong>Phone number: </strong> @profile.phoneNumber<br />
      <strong>Warwick email address: </strong> @profile.warwickEmail<br />
      <strong>Alternative email address: </strong> @profile.alternateEmail<br />
      <strong>Correspondence address: </strong> @profile.address<br />
      <strong>Residence: </strong> @profile.residence<br />
      <strong>Nationality: </strong> @profile.nationality<br />
      <strong>Dual nationality: </strong> @profile.dualNationality<br />
      <strong>Tier 4 visa required: </strong> @if(profile.tier4VisaRequired.contains(true)) { Yes } else { No }<br />
      <strong>Disability: </strong> @profile.disability.map(_.description)<br />
      <strong>User type: </strong> @profile.userType
    </div>
    <div class="col-md-4 col-lg-5">
      <strong>Course: </strong> @profile.course.map(_.name)<br />
      <strong>Route: </strong> @profile.route.map(_.name)<br />
      <strong>Course status: </strong> @profile.courseStatus.map(_.description)<br />
      <strong>Enrolment status: </strong> @profile.enrolmentStatus.map(_.description)<br />
      <strong>Attendance: </strong> @profile.attendance.map(_.description)<br />
      <strong>Group: </strong> @profile.group.map(_.description)<br />
      <strong>Year of study: </strong> @profile.yearOfStudy.map(_.block)<br />
      <strong>Start date: </strong> @profile.startDate<br />
      <strong>End date: </strong> @profile.endDate<br />
    </div>
  </div>

  @if(profile.personalTutors.nonEmpty) {
    @agents("Personal tutor", profile.personalTutors)
  }

  @if(profile.researchSupervisors.nonEmpty) {
    @agents("Research supervisor", profile.researchSupervisors)
  }

  <h2>Registration</h2>

  @registration.map { registration =>
    <dl class="dl-horizontal field-history" data-href="@controllers.admin.routes.ClientController.registrationHistory(profile.universityID)">
      <dt>Registered</dt>
      <dd>@helpers.JavaTime.Relative(registration.updatedDate)</dd>
      <dt data-field-history="gp">GP</dt>
      <dd>@registration.data.gp</dd>
      <dt data-field-history="tutor">Tutor</dt>
      <dd>@registration.data.tutor</dd>
      <dt data-field-history="disabilities">Disabilities</dt>
      <dd>@registration.data.disabilities.map(_.description).mkString(", ")</dd>
      <dt data-field-history="medications">Medication</dt>
      <dd>@registration.data.medications.map(_.description).mkString(", ")</dd>
      <dt data-field-history="appointmentAdjustments">Appointment adjustments</dt>
      <dd>@views.utils.nl2br(registration.data.appointmentAdjustments)</dd>
      <dt data-field-history="referrals">Referrals</dt>
      <dd>@registration.data.referrals.map(_.description).mkString(", ")</dd>
    </dl>
  }.getOrElse {
    <em>Client is not currently registered</em>
    @b3.inline.formCSRF(controllers.admin.routes.ClientController.invite(profile.universityID)) { implicit ifc =>
      @b3.submit('class -> "btn btn-default") {
        Invite to register
      }
    }
  }

  <h2>Client summary</h2>

  @b3.vertical.formCSRF(controllers.admin.routes.ClientController.updateSummary(profile.universityID)) { implicit ifc =>
    @b3.textarea(form("notes"),
      '_label -> "Notes",
      'rows -> 5
    )

    @b3.text(form("alternative-contact-number"),
      '_label -> "Alternative contact number"
    )

    @b3.email(form("alternative-email-address"),
      '_label -> "Alternative email address"
    )

    @b3.select(form("risk-status"),
      options = ClientRiskStatus.values.map { s => s.entryName -> s.entryName },
      '_label -> "Risk status",
      '_default -> ""
    )

    @b3.checkboxGroup(
      label = "Reasonable adjustments",
      items = ReasonableAdjustment.values,
      form = form,
      field = "reasonable-adjustments",
      idPrefix = "reasonable-adjustment"
    )

    @if(inMentalHealthTeam) {
      @b3.select(form("high-mental-health-risk"), options = Seq("" -> "Not specified", "true" -> "Yes", "false" -> "No"),
        '_label -> "High mental health risk"
      )
    }

    @tags.submitOrCancel("Update", controllers.routes.IndexController.home())
  }
}