@import domain.{Case, Client, InitialConsultationSave}

@(
  c: Case,
  client: Client,
  form: Form[InitialConsultationSave],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Record consultation for ${client.safeFullName}") {
  @b3.vertical.formCSRF(controllers.admin.routes.ClientConsultationController.saveForCase(c.key, client.universityID)) { implicit ifc =>
    @consultationFormFields(form)

    @tags.submitOrCancel("Save", controllers.admin.routes.CaseController.view(c.key))
  }
}
