@import domain.{Enquiry, IssueState, MessageData, MessageSender, UploadedFile}
@import helpers.JavaTime
@import warwick.sso.{UniversityID, User, Usercode}

@import domain.SitsProfile
@(
  enquiry: Enquiry,
  client: Option[SitsProfile],
  messages: Seq[(MessageData, Seq[UploadedFile])],
  f: Form[String],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"${enquiry.team.name} enquiry from ${client.map(c => s"${c.fullName} (${enquiry.universityID.string})").getOrElse(enquiry.universityID.string)}") {
  <h2>
    <div class="pull-right">
      @if(enquiry.version.isAfter(messages.last._1.created)) {
        @JavaTime.Relative(enquiry.version, printToday = true)
      } else {
        @JavaTime.Relative(messages.last._1.created, printToday = true)
      }
    </div>
    @tags.icons.enquiryState(enquiry.state)
    @enquiry.subject
  </h2>
  <div class="enquiry enquiry--client panel panel-default">
    <div class="panel-body">
      @messages.map { case (message, file) =>
        @views.html.enquiry.enquiryMessage(enquiry, message, file, "You", s"${message.team.getOrElse(enquiry.team).name} team", f => controllers.enquiries.routes.EnquiryMessagesController.download(enquiry.key.get, f.id))
      }
    </div>
    <div class="panel-footer">
      @if(enquiry.state != IssueState.Closed) {
        @b3.inline.formCSRF(controllers.enquiries.routes.EnquiryMessagesController.addMessage(enquiry.key.get), 'enctype -> "multipart/form-data") { implicit ifc =>
          @b3.free('_label -> "Add a message", '_class -> f("text").error.map(_ => "has-error").getOrElse("")) {
            <div class="flex">
              @b3.textarea(f("text"), 'rows -> 5)(b3.clear.fieldConstructorSpecific, messagesProvider)

              @* Styling TBC *@
              <input type="file" name="file" class="form-control" multiple>

              @tags.messages.sendButton()
            </div>
            @if(f("text").hasErrors) {
              <div class="help-block">
                @f("text").errors.map { error =>
                  @error.format
                }
              </div>
            }
          }
        }
      }
    </div>
  </div>
}