@import controllers.enquiries.EnquiryMessagesController.StateChangeForm
@import domain.Enquiry
@import domain.IssueState
@import domain.MessageData
@import domain.Message.FormData
@import domain.MessageSender
@(
  enquiry: Enquiry,
  messages: Seq[MessageData],
  stateChangeForm: Form[StateChangeForm],
  messageSender: MessageSender
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"${enquiry.team.name} enquiry from ${enquiry.universityID.string}") {
  <div class="enquiry panel panel-default">
    <div class="panel-body">
      <span class="badge pull-right">@helpers.JavaTime.Relative(enquiry.created)</span>
      <strong>Enquiry with @enquiry.team.name</strong>

      @{
        val clientName = messageSender match {
          case MessageSender.Team => "Client"
          case MessageSender.Client => "You"
        }
        tags.conversation(messages, clientName = clientName)
      }

      @if(enquiry.state != IssueState.Closed) {
        @b3.vertical.formCSRF(controllers.enquiries.routes.EnquiryMessagesController.addMessage(enquiry.id.get)) { implicit ifc =>
          @b3.textarea(stateChangeForm("text"),
            '_label -> "Add a message",
            'rows -> 3
          )

          @b3.free('_class -> "spaced-buttons") {
            <button type="submit" class="btn btn-primary">Add message</button>
            @if(messageSender == MessageSender.Team) {
              <button type="submit" formaction="@controllers.enquiries.routes.EnquiryMessagesController.close(enquiry.id.get)" class="btn btn-primary"> Close enquiry</button>
              @b3.validatedHidden(stateChangeForm, "version")
            }
          }
        }
      } else {
        @b3.vertical.formCSRF(controllers.enquiries.routes.EnquiryMessagesController.reopen(enquiry.id.get)) { implicit ifc =>

          @b3.validatedHidden(stateChangeForm, "version")

          @b3.textarea(stateChangeForm("text"),
            '_label -> "Add a message",
            'rows -> 3
          )

          @b3.free() {
            <button type="submit" class="btn btn-primary">Reopen enquiry</button>
          }
        }
      }
    </div>
  </div>
}