@import java.time.OffsetDateTime

@import controllers.admin.TeamEnquiryController.ReassignEnquiryData
@import domain.{Enquiry, IssueState, MessageData, MessageSender, SitsProfile, Teams, UploadedFile, UserType}
@import helpers.JavaTime
@import warwick.sso.{User, Usercode}

@(
  enquiry: Enquiry,
  client: SitsProfile,
  messages: Seq[(MessageData, Option[UploadedFile])],
  owners: Seq[User],
  userLookup: Map[Usercode, User],
  reassignForm: Form[ReassignEnquiryData],
  stateChangeForm: Form[OffsetDateTime],
  messageForm: Form[String],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(
  title = s"${enquiry.key.get.string} ${enquiry.subject}",
  icon = if(enquiry.state != IssueState.Closed) "fal fa-fw fa-comment-dots" else "fal fa-fw fa-comment-check"
) {
  <h5>
    <div class="pull-right">
    @if(enquiry.version.isAfter(messages.last._1.created)) {
      @JavaTime.Relative(enquiry.version, printToday = true)
    } else {
      @JavaTime.Relative(messages.last._1.created, printToday = true)
    }
    </div>

    @client.fullName,
    @client.universityID.string,
    @client.userType match {
      case UserType.Student => {
        @client.yearOfStudy.map(_.level) match {
          case Some("1") => {First year}
          case Some("2") => {Second year}
          case Some("3") => {Third year}
          case Some("4") => {Fourth year}
          case Some(level) => {@{level}th year}
          case _ => {}
        }
        @client.group student, @client.department.name
      }
      case _ => {@client.userType, @client.department.name}
    }
  </h5>
  <h5>
    @if(enquiry.state == IssueState.Closed) {
      Closed
    } else {
      Open,
      @if(messages.last._1.sender == MessageSender.Client) {
        requires action
      } else {
        waiting for client
      }
    }
  </h5>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      @b3.horizontal.formCSRF(controllers.admin.routes.TeamEnquiryController.reassign(enquiry.key.get), "col-sm-4", "col-sm-8") { implicit ifc =>
        @b3.validatedHidden(reassignForm, "version")

        @b3.select(reassignForm("team"),
          options = Teams.all.map { t => t.id -> t.name },
          '_label -> "Team"
        )
      }

      <div class="form-horizontal">
        <div class="col-sm-4 control-label">
          Owners
        </div>
        <div class="col-sm-8">
          @if(owners.nonEmpty) {
            <ul class="list-unstyled">
              @owners.map { owner =>
                <li class="form-control-static">@owner.name.full</li>
              }
            </ul>
          } else {
            <p class="form-control-static">None</p>
          }
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="form-horizontal">
        <div class="col-sm-4 control-label">
          Actions
        </div>
        <div class="col-sm-8">
          @if(enquiry.state != IssueState.Closed) {
            @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.close(enquiry.key.get)) { implicit ifc =>
              @b3.validatedHidden(stateChangeForm, "version")

              <p>
                <button type="submit" class="btn btn-primary btn-block">
                  Close enquiry
                </button>
              </p>
            }
          } else {
            @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.reopen(enquiry.key.get)) { implicit ifc =>
              @b3.validatedHidden(stateChangeForm, "version")

              <p>
                <button type="submit" class="btn btn-primary btn-block">
                  Reopen enquiry
                </button>
              </p>
            }
          }

          <p>
            <a class="btn btn-default btn-block" href="@controllers.admin.routes.CaseController.createForm(enquiry.team.id, Some(enquiry.key.get))">
              Create case from enquiry
            </a>
          </p>

          <p>
            <a class="btn btn-default btn-block" href="@controllers.admin.routes.AdminController.teamHome(enquiry.team.id)">
              Return to enquiries list
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

























@*
  <h2>

    @if(enquiry.state != IssueState.Closed) {
      <i class="fal fa-fw fa-comment-dots"></i>
    } else {
      <i class="fal fa-fw fa-comment-check"></i>
    }
    @enquiry.subject
  </h2>
  <div class="enquiry panel panel-default">
    <div class="panel-body">
      @messages.map { case (message, file) =>
        @views.html.enquiry.enquiryMessage(
          enquiry,
          message,
          file,
          "Client",
          message.teamMember.flatMap(usercode => userLookup.get(usercode).filter(_.isFound).flatMap(_.name.full)).getOrElse(enquiry.team.name),
          f => controllers.admin.routes.TeamEnquiryController.download(enquiry.key.get, f.id)
        )
      }
    </div>
    <div class="panel-footer">
      @if(enquiry.state != IssueState.Closed) {
        @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.addMessage(enquiry.key.get), 'enctype -> "multipart/form-data") { implicit ifc =>
          @b3.free('_label -> "Add a message", '_class -> stateChangeForm("text").error.map(_ => "has-error").getOrElse("")) {
            <div class="flex">
              @b3.textarea(stateChangeForm("text"), 'rows -> 5)(b3.clear.fieldConstructorSpecific, messagesProvider)

              <input type="file" name="file" class="form-control">

              <button type="submit" class="btn btn-link">
                <i class="fal fa-paper-plane fa-2x"></i>
              </button>
            </div>
            @if(stateChangeForm("text").hasErrors) {
              <div class="help-block">
                @stateChangeForm("text").errors.map { error =>
                  @error.format
                }
              </div>
            }
          }

          <div class="spaced-buttons">
            <button
              type="submit"
              formaction="@controllers.admin.routes.TeamEnquiryController.close(enquiry.key.get)"
              class="btn btn-primary"
            >
              Close enquiry
            </button>

            <a class="btn btn-default" href="@controllers.admin.routes.CaseController.createForm(enquiry.team.id, Some(enquiry.key.get))">
              Create case from enquiry
            </a>

            @b3.validatedHidden(stateChangeForm, "version")
          </div>
        }
      } else {
        @b3.vertical.formCSRF(controllers.admin.routes.TeamEnquiryController.reopen(enquiry.key.get)) { implicit ifc =>
          @b3.validatedHidden(stateChangeForm, "version")

          @b3.textarea(stateChangeForm("text"),
            '_label -> "Add a message",
            'rows -> 5
          )

          <div class="spaced-buttons">
            <button type="submit" class="btn btn-primary">Reopen enquiry</button>
          </div>
        }
      }
    </div>
  </div>*@
}