@import java.time.OffsetDateTime

@import domain.{Enquiry, EnquiryNote, EnquiryNoteType, IssueState, MessageRender, MessageSender, SitsProfile, UserType}
@import helpers.JavaTime
@import warwick.sso.{User, Usercode}

@(
  enquiry: Enquiry,
  client: Option[SitsProfile],
  messages: Seq[MessageRender],
  notes: Seq[EnquiryNote],
  owners: Seq[User],
  clientLastRead: Option[OffsetDateTime],
  userLookup: Map[Usercode, User],
  stateChangeForm: Form[OffsetDateTime],
  messageForm: Form[String],
  canViewEnquiryTeam: Boolean
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(
  title = s"${enquiry.key.get.string} ${enquiry.subject}",
  icon = tags.icons.enquiryState(enquiry.state)
) {
  <div class="enquiry-details">
    <div class="enquiry-details--header">
      <h5>
        <div class="pull-right">
          @if(enquiry.version.isAfter(messages.last.message.created)) {
            @JavaTime.Relative(enquiry.version)
          } else {
            @JavaTime.Relative(messages.last.message.created)
          }
        </div>

        @client.map { client =>
          @client.fullName,
          @client.universityID.string,
          @client.userType match {
            case UserType.Student => {
              @client.yearOfStudy.map(_.level) match {
                case Some("1") => {First year}
                case Some("2") => {Second year}
                case Some("3") => {Third year}
                case Some("4") => {Fourth year}
                case Some(level) => {@{level}th year}
                case _ => {}
              }
              @client.group student, @client.department.name
            }
            case _ => {@client.userType, @client.department.name}
          }
        }.getOrElse(enquiry.universityID.string)
      </h5>
      <h5>
        @if(enquiry.state == IssueState.Closed) {
          Closed
        } else {
          Open,
          @if(messages.last.message.sender == MessageSender.Client) {
            requires action
          } else {
            waiting for client
          }
        }
      </h5>
    </div>

    <div class="enquiry-details--actions row">
      <div class="col-sm-6 col-md-4">
        <div class="row form-horizontal">
          <div class="col-sm-4 control-label">
            Team
          </div>
          <div class="col-sm-8">
            <div class="form-control-static">
              <div>@enquiry.team.name</div>

              @defining(notes.filter(_.noteType == EnquiryNoteType.Referral).reverse) { referralNotes =>
                @if(referralNotes.nonEmpty) {
                  <div>
                    <a role="button" href="#referral-notes-modal" data-toggle="modal" data-target="#referral-notes-modal">
                      View @tags.p(referralNotes.size, "team assignment note")()
                    </a>
                  </div>

                  <div class="modal fade" id="referral-notes-modal" tabindex="-1" role="dialog" aria-labelledby="referral-notes-modal-label">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="referral-notes-modal-label">Team reassignment notes</h4>
                        </div>
                        <div class="modal-body">
                          @referralNotes.map { note =>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title clearfix">
                                  <span class="date pull-right">
                                    @helpers.JavaTime.Relative(note.created)
                                    @if(note.lastUpdated != note.created) {
                                      (last updated @helpers.JavaTime.Relative(note.lastUpdated))
                                    }
                                  </span>
                                </h3>
                              </div>
                              <div class="panel-body">
                                @views.utils.nl2br(note.text)
                              </div>
                              <div class="panel-footer">
                                <div class="author">@userLookup.get(note.teamMember).flatMap(_.name.full).getOrElse(s"[unknown user ${note.teamMember.string}]")</div>
                              </div>
                            </div>
                          }
                        </div>
                        <div class="modal-footer spaced-buttons">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>

        <div class="row form-horizontal">
          <div class="col-sm-4 control-label">
            Owners
          </div>
          <div class="col-sm-8">
            @b3.horizontal.formCSRF(controllers.admin.routes.OwnersController.enquirySubmit(enquiry.key.get), "col-sm-0", "col-sm-12", 'class -> "form-control-static") { implicit ifc =>
              @if(owners.nonEmpty) {
                @owners.map { owner =>
                  <div class="clearfix">
                    <button type="button" class="pull-right btn btn-sm btn-link" data-toggle="remove-submit" data-target="div">
                      <i class="fas fa-times-circle"></i>
                    </button>
                    <input type="hidden" name="owners[]" value="@owner.usercode.string">
                    @owner.name.full
                  </div>
                }
              } else {
                <div>None</div>
              }

              <div>
                <a role="button" href="#add-owner-modal" data-toggle="modal" data-target="#add-owner-modal">
                  Add an owner
                </a>
              </div>

              <div class="modal fade" id="add-owner-modal" tabindex="-1" role="dialog" aria-labelledby="add-owner-modal-label">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="add-owner-modal-label">Add an owner</h4>
                    </div>
                    <div class="modal-body">
                      @b3.free() {
                        @tags.flexipicker(values = Nil, name = "owners[]", placeholder = "Search for a user", multiple = false)
                      }
                    </div>
                    <div class="modal-footer spaced-buttons">
                      <button type="submit" class="btn btn-primary">Add owner</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="row form-horizontal">
          <div class="col-sm-4 control-label">
            Actions
          </div>
          <div class="col-sm-8">
            @if(enquiry.state != IssueState.Closed) {
              @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.close(enquiry.key.get)) { implicit ifc =>
                @b3.validatedHidden(stateChangeForm, "version")

                <p>
                  <button type="submit" class="btn btn-primary btn-block">
                    Close enquiry
                  </button>
                </p>
              }
            } else {
              @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.reopen(enquiry.key.get)) { implicit ifc =>
                @b3.validatedHidden(stateChangeForm, "version")

                <p>
                  <button type="submit" class="btn btn-primary btn-block">
                    Reopen enquiry
                  </button>
                </p>
              }
            }

            <p>
              <a class="btn btn-default btn-block" href="@controllers.admin.routes.CaseController.createForm(enquiry.team.id, Some(enquiry.key.get))">
                Create case from enquiry
              </a>
            </p>

            <p>
              <a class="btn btn-default btn-block" href="@controllers.admin.routes.TeamEnquiryController.reassignForm(enquiry.key.get)">
                Assign to a different team
              </a>
            </p>

            @if(canViewEnquiryTeam) {
              <p>
                <a class="btn btn-default btn-block" href="@controllers.admin.routes.AdminController.teamHome(enquiry.team.id)">
                  Return to enquiries list
                </a>
              </p>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="enquiry-details--messages">
      <div class="enquiry enquiry--team panel">
        <div class="panel-body">
          @messages.map { render =>
            @views.html.enquiry.enquiryMessage(
              enquiry,
              render.message,
              render.files,
              client.map(_.fullName).getOrElse(enquiry.universityID.string),
              render.message.teamMember
                .flatMap { usercode =>
                  userLookup.get(usercode)
                    .filter(_.isFound)
                    .flatMap(_.name.full)
                    .map { name => s"$name, ${render.message.team.getOrElse(enquiry.team).name} team" }
                }.getOrElse(s"${render.message.team.getOrElse(enquiry.team).name} team"),
              f => controllers.admin.routes.TeamEnquiryController.download(enquiry.key.get, f.id),
              clientLastRead.filter(_ => render.message.sender == MessageSender.Team).map(_.isAfter(render.message.created))
            )
          }
        </div>
        @if(enquiry.state != IssueState.Closed) {
          <div class="panel-footer">
            @b3.inline.formCSRF(controllers.admin.routes.TeamEnquiryController.addMessage(enquiry.key.get), 'enctype -> "multipart/form-data") { implicit ifc =>
              @b3.free('_label -> "Add a message", '_class -> messageForm("text").error.map(_ => "has-error").getOrElse("")) {
                <div class="flex">
                  @b3.textarea(messageForm("text"), 'rows -> 5)(b3.clear.fieldConstructorSpecific, messagesProvider)

                  @* Styling TBC *@
                  <input type="file" name="file" class="form-control" multiple>

                  @tags.messages.sendButton()
                </div>

                @if(messageForm("text").hasErrors) {
                  <div class="help-block">
                    @messageForm("text").errors.map { error =>
                      @error.format
                    }
                  </div>
                }
              }
            }
          </div>
        }
      </div>
    </div>
  </div>
}