@import domain.Team
@import domain.Enquiry
@import domain.Teams
@import controllers.admin.TeamEnquiryController.ReassignEnquiryData
@(
  enquiry: Enquiry,
  form: Form[ReassignEnquiryData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main("Reassign enquiry") {
  @b3.vertical.formCSRF(controllers.admin.routes.TeamEnquiryController.reassign(enquiry.key.get)) { implicit ifc =>
    @b3.validatedHidden(form, "version")

    @b3.radio(form("team"),
      options = Teams.all.map { t => t.id -> t.name }
    )

    @tags.submitOrCancel("Reassign", controllers.admin.routes.AdminController.teamHome(enquiry.team.id))
  }
}