@import (inline) "fullcalendar/dist/fullcalendar.css";

.fc {
  /* Position buttons actually in the center */
  .fc-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .fc-header-toolbar h2 {
    font-size: @font-size-h3;
    color: @text-color;
  }

  .fc-event-container {
    .link-colour(@text-color);
  }

  .fc-event, .fc-event-dot {
    &.Provisional {
      background-color: @state-info-bg;
      border-color: @state-info-text;

      #gradient > .striped();
    }

    &.Accepted, &.Attended {
      background-color: @state-success-bg;
      border-color: @state-success-text;
    }

    &.Cancelled {
      background-color: @state-danger-bg;
      border-color: @state-danger-text;
    }
  }
}