@import (reference) "id7/less/bootstrap/variables.less";
@import (reference) "id7/less/bootstrap/mixins.less";
@import (reference) "id7/less/font-awesome/variables.less";
@import (reference) "id7/less/font-awesome/mixins.less";
@import (reference) "id7/less/variables.less";
@import (reference) "id7/less/mixins.less";

@id7-image-root-dir: './lib/id7/images';
@icon-font-path: './lib/id7/fonts';
@fa-font-path: './lib/id7/fonts';

@import "id7/less/id7.less";
@import "id7-theme.less";
@import "sysadmin-notices.less";
@import "error-pages.less";

.conversation {
  margin-top: 1em;
}

.message {
  .alert;

  .date {
    color: @id7-brand-gray;
  }

  &.message-team {
    .alert-info;
    margin-right: 1em;
  }
  &.message-client {
    .alert-success;
    margin-left: 1em;
  }

  &--author {
    font-weight: bold;
  }
}
