@import (reference) "id7/less/bootstrap/variables.less";
@import (reference) "id7/less/bootstrap/mixins.less";
@import (reference) "id7/less/font-awesome/variables.less";
@import (reference) "id7/less/font-awesome/mixins.less";
@import (reference) "id7/less/variables.less";
@import (reference) "id7/less/mixins.less";

@id7-image-root-dir: './lib/id7/images';
@icon-font-path: './lib/id7/fonts';
@fa-font-path: './lib/id7/fonts';

@import "id7/less/id7.less";
@import "id7-theme.less";
@import "sysadmin-notices.less";
@import "error-pages.less";

.pull-right:first-child {
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }
}

.conversation {
  margin-top: 1em;
}

.message {
  .alert;

  .date {
    color: @id7-brand-gray;
  }

  &.message-team {
    .alert-info;
    margin-right: 1em;
  }
  &.message-client {
    .alert-success;
    margin-left: 1em;
  }

  &--author {
    font-weight: bold;
  }
}

@media (min-width: @grid-float-breakpoint) {
  @dl-horizontal-offset: 220px;
  .dl-horizontal.field-history dt {
    width: @dl-horizontal-offset;
  }
  .dl-horizontal.field-history dd {
    margin-left: @dl-horizontal-offset + @grid-gutter-width;
  }
}

.field-history {
  i.fa-history {
    margin-left: 5px;
    cursor: pointer;
  }
}

.popover button.close {
  padding: 0 2px;
}

.client-search {
  .dropdown-menu li {
    margin-bottom: 5px;
    a {
      padding: 5px 10px 5px 5px;
    }
  }
  .client-search-result {
    .media-left img {
      width: 60px;
      height: 60px;
    }
    .media-body {
      width: auto;
      .title {
        font-size: 120%;
      }
    }
  }
}