@import domain.CaseDocumentType
@import domain.IssueKey

@(
  caseKey: IssueKey,
  form: Form[CaseDocumentType]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Add a document to ${caseKey.string}") {
  @b3.horizontal.formCSRF(
    controllers.admin.routes.CaseDocumentController.addDocument(caseKey),
    "col-sm-2", "col-sm-5",
    'class -> "dirty-check", 'enctype -> "multipart/form-data"
  ) { implicit ifc =>
    @b3.select(form("documentType"),
      options = CaseDocumentType.values.map { t => t.entryName -> t.description },
      '_label -> "Document type",
      '_default -> "",
      'required -> true
    )

    @b3.free('_label -> "File", '_class -> form.error("file").map(_ => "has-error")) {
      <input type="file" id="file" name="file" class="form-control">
      @b3.errors(form("file"))
    }

    @tags.submitOrCancel("Add document", controllers.admin.routes.CaseController.view(caseKey))
  }
}