@import controllers.admin.CaseDocumentController.DocumentForm
@import domain.{CaseDocumentType, IssueKey}
@import org.apache.tika.mime.MediaType

@(
  caseKey: IssueKey,
  form: Form[DocumentForm],
  supportedMimeTypes: Seq[MediaType]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Add a document to ${caseKey.string}") {

  @views.b3.wellbeing.vertical.formCSRF(controllers.admin.routes.CaseDocumentController.addDocument(caseKey),
    'enctype -> "multipart/form-data"
  ) { implicit fc =>

    @b3.select(form("documentType"),
      options = CaseDocumentType.values.map { t => t.entryName -> t.description },
      '_label -> "Document type",
      '_colClass -> "col-md-6",
      '_default -> "",
      'required -> true
    )

    @b3.free('_label -> "File", '_class -> form.error("file").map(_ => "has-error")) {
      <div class="row">
        <div class="col-md-6">
          <input type="file" id="file" name="file" accept="@{supportedMimeTypes.map(_.getBaseType.toString).mkString(",")}" class="form-control" aria-label="Attach a file">
          @b3.errors(form("file"))
        </div>
      </div>
    }

    @b3.textarea(
      form("description"),
      '_label -> "Document description",
      '_colClass -> "col-md-6",
    )

    @tags.submitOrCancel("Add document", controllers.admin.routes.CaseController.view(caseKey))
  }

}