@import controllers.admin.CaseController.CaseFormData
@import domain.Team
@import domain.CaseType
@import domain.CaseCause
@import views.html.b3.B3FieldConstructor

@import domain.CaseTag
@(
  team: Team,
  form: Form[CaseFormData]
)(implicit messagesProvider: MessagesProvider, fieldConstructor: B3FieldConstructor)

@b3.validatedHidden(form, "originalEnquiry")

@b3.text(form("subject"),
  '_label -> "Subject"
)

@b3.free('_label -> "Clients", '_class -> form.error("clients").map(_ => "has-error")) {
  @tags.flexipicker(values = form.data.filter { case (k, v) => k.startsWith("clients[") && v.nonEmpty }.values.toSeq, name = "clients[]", placeholder = "Search for clients", multiple = true, universityId = true)
  @b3.errors(form("clients"))
}

@if(CaseType.valuesFor(team).nonEmpty) {
  @b3.select(form("caseType"),
    options = CaseType.valuesFor(team).map { t => t.entryName -> t.description },
    '_label -> "Case type",
    '_default -> "",
    'required -> true
  )
}

@b3.select(form("cause"),
  options = CaseCause.values.map { c => c.entryName -> c.description },
  '_label -> "Cause",
  '_default -> ""
)

@b3.free('_label -> "Incident") {
  <div class="checkbox">
    <label for="incident_fields">
      <input type="checkbox"
             id="incident_fields"
             data-toggle="optional-subform"
             data-target="#incident"
        @if(form.data.keys.exists(_.startsWith("incident."))) {
             checked
        }
      >
      This case relates to an incident
    </label>
  </div>
}
<fieldset id="incident">
  @b3.radio(form("incident.onCampus"),
    options = Seq("true" -> "On-campus", "false" -> "Off-campus"),
    '_label -> "Where did the incident occur?"
  )

  @b3.free('_label -> "Additional services required for incident") {
    @b3.checkbox(form("incident.notifiedPolice"), '_text -> "Police notified")
    @b3.checkbox(form("incident.notifiedAmbulance"), '_text -> "Ambulance called")
    @b3.checkbox(form("incident.notifiedFire"), '_text -> "Fire service called")
  }

  @b3.datetimeLocal(form("incident.incidentDate"),
    '_label -> "Date of incident"
  )
</fieldset>

@b3.checkboxGroup(
  label = "Case tags",
  items = CaseTag.values,
  form = form,
  field = "tags",
  idPrefix = "tag"
)