@import controllers.admin.CaseController.CaseFormData
@import domain.Team

@(
  team: Team,
  form: Form[CaseFormData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Create a ${team.name} case") {
  @b3.vertical.formCSRF(controllers.admin.routes.CaseController.create(team.id)) { implicit ifc =>
    @views.html.admin.cases.caseFields(team, form)

    @tags.submitOrCancel("Create", controllers.admin.routes.AdminController.teamHome(team.id).withFragment("cases"))
  }
}