@import controllers.admin.CaseController.CaseLinkFormData
@import domain.dao.CaseDao.Case
@import domain.CaseLink
@import domain.CaseLinkType

@(
  c: Case,
  form: Form[CaseLinkFormData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main(s"Link ${c.key.get.string} to another case") {
  @views.b3.wellbeing.vertical.formCSRF(controllers.admin.routes.CaseController.link(c.key.get)) { implicit fc =>
    @b3.select(form("linkType"),
      options = CaseLinkType.values.map { t => t.entryName -> t.outwardDescription },
      'colClass -> "col-md-6",
      '_label -> "This case",
      '_default -> "",
      'required -> true
    )

    @b3.text(form("targetID"),
      'colClass -> "col-md-6",
      '_label -> "Case",
      'class -> "case-picker",
      '_class -> "case-picker-container"
    )

    @b3.textarea(
      form("message"),
      'colClass -> "col-md-6",
      '_label -> "Associated case note",
      '_help -> "(why is this case being linked to another case?)",
      'helpOnTop -> true
    )

    @tags.submitOrCancel("Link", controllers.admin.routes.CaseController.view(c.key.get))
  }
}