@import domain.Team
@import domain.Enquiry
@import domain.Teams
@import controllers.admin.TeamEnquiryController.ReassignEnquiryData
@import domain.dao.CaseDao.Case
@import controllers.admin.CaseController.ReassignCaseData
@import domain.CaseType
@import helper.Implicits.toAttributePair

@(
  clientCase: Case,
  form: Form[ReassignCaseData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)


@main(s"Reassign ${clientCase.key.get.string}") {

  @views.b3.wellbeing.vertical.formCSRF(controllers.admin.routes.CaseController.reassign(clientCase.key.get)) { implicit fc =>
    @b3.validatedHidden(form, "version")

    @b3.radio(form("team"),
      options = Teams.all.map { t => t.id -> t.name },
      "data-toggle" -> "optional-subform",
      "data-toggle-value" -> Teams.MentalHealth.id,
      "data-target" -> "#caseType-field"
    )

    <fieldset id="caseType-field">
      @b3.select(form("caseType"),
        options = Seq("" -> "") ++ CaseType.values.map { t => t.entryName -> t.description },
        'colClass -> "col-md-6",
        '_label -> "Case type"
      )
    </fieldset>

    @b3.textarea(form("message"),
      'rows -> 5,
      'colClass -> "col-md-6",
      '_label -> "Reassignment note",
      '_help -> "(why is this case being assigned to a different team?)",
      'helpOnTop -> true
    )

    @tags.submitOrCancel("Reassign", controllers.admin.routes.AdminController.teamHome(clientCase.team.id))
  }

}