@import controllers.admin.{CaseController, CaseDocumentController}
@import controllers.admin.CaseController.CaseNoteFormData
@import domain.dao.CaseDao.Case
@import domain._
@import warwick.sso._

@(
  c: Case.FullyJoined,
  clients: Seq[Either[UniversityID, SitsProfile]],
  owners: Seq[User],
  caseNotes: Seq[(CaseNote, Option[User])],
  originalEnquiry: Option[Enquiry],
  userLookup: Map[Usercode, User],
  noteForm: Form[CaseNoteFormData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@caseLinks(links: Seq[CaseLink], description: CaseLinkType => String, target: CaseLink => Case) = {
  @if(links.nonEmpty) {
    <ul>
      @links.groupBy(_.linkType).map { case (linkType, l) =>
        <li>
          @description(linkType)
          <ul>
            @l.map { link =>
              <li><a href="@controllers.admin.routes.CaseController.view(target(link).key.get)">@target(link).key.get.string</a> @target(link).subject</li>
            }
          </ul>
        </li>
      }
    </ul>
  }
}

@main(s"${c.clientCase.key.get.string} ${c.clientCase.subject}") {
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      @clients.map {
        case Left(universityID) => {
          <div>
            <p>
              <strong>University ID: </strong> <a href="@controllers.admin.routes.ClientController.client(universityID)">@universityID.string</a>
            </p>
          </div>
        }
        case Right(profile) => {
          <div class="row">
            @profile.photo.map { photo =>
              <div class="col-sm-4">
                <p class="photo">
                  <a href="@controllers.admin.routes.ClientController.client(profile.universityID)">
                    <img src="@photo" class="img-thumbnail img-circle">
                  </a>
                </p>
              </div>
            }
            <div class="col-sm-8">
              <p>
                <strong>University ID: </strong> <a href="@controllers.admin.routes.ClientController.client(profile.universityID)">@profile.universityID.string</a><br />
                <strong>Full name: </strong> @profile.fullName<br />
                <strong>Department: </strong> @profile.department.name<br />
                <strong>Warwick email address: </strong> @profile.warwickEmail
              </p>
            </div>
          </div>
        }
      }
    </div>
    <div class="col-md-8 col-md-pull-4">
      @* TODO history? *@
      <dl class="dl-horizontal">
        <dt>Team</dt>
        <dd>@c.clientCase.team.name @* TODO CASE-80 Reassign button *@</dd>

        <dt>Date raised</dt>
        <dd>@helpers.JavaTime.Relative(c.clientCase.created)</dd>

        <dt>State</dt>
        <dd>@c.clientCase.state @* TODO Transition buttons *@</dd>

        @c.clientCase.incidentDate.map { incidentDate =>
          <dt>Incident</dt>
          <dd>
            @helpers.JavaTime.Relative(incidentDate)
            @if(c.clientCase.onCampus.contains(true)) { On-campus } else { Off-campus }
            @if(c.clientCase.notifiedPolice.contains(true)) { <span class="label label-info">Police notified</span> }
            @if(c.clientCase.notifiedAmbulance.contains(true)) { <span class="label label-info">Ambulance called</span> }
            @if(c.clientCase.notifiedFire.contains(true)) { <span class="label label-info">Fire service called</span> }
          </dd>
        }

        @originalEnquiry.map { enquiry =>
          <dt>Original enquiry</dt>
          <dd>
            <a href="@controllers.admin.routes.TeamEnquiryController.messages(enquiry.key.get)">@enquiry.key.get.string @enquiry.subject</a>
            -
            @helpers.JavaTime.Relative(enquiry.created)
          </dd>
        }

        <dt>Cause</dt>
        <dd>@c.clientCase.cause.description</dd>

        @c.clientCase.caseType.map { caseType =>
          <dt>Case type</dt>
          <dd>@caseType.description</dd>
        }

        @if(c.tags.nonEmpty) {
          <dt>Tags</dt>
          <dd>@c.tags.toSeq.map(_.description).sorted.mkString(", ")</dd>
        }

        <dt>Owners</dt>
        <dd>
          @if(owners.nonEmpty) {
            <ul class="list-unstyled">
              @owners.map { owner =>
                <li>@owner.name.full.getOrElse(owner.usercode.string)</li>
              }
            </ul>
          } else {
            None
          }
          <a href="@controllers.admin.routes.OwnersController.caseForm(c.clientCase.key.get)" class="btn btn-default">Edit owners</a>
        </dd>
      </dl>

      <p>
        <a class="btn btn-default" href="@controllers.admin.routes.CaseController.editForm(c.clientCase.key.get)">Edit case</a>
      </p>
    </div>
  </div>

  <h2>Case links</h2>

  @caseLinks(c.outgoingCaseLinks, _.outwardDescription, _.incoming)
  @caseLinks(c.incomingCaseLinks, _.inwardDescription, _.outgoing)

  <p><a href="@controllers.admin.routes.CaseController.linkForm(c.clientCase.key.get)" class="btn btn-default">Create link</a></p>

  <h2>Case documents</h2>

  @if(c.documents.nonEmpty) {
    <table class="table table-default">
      <thead>
        <tr>
          <th class="col-sm-4">Document type</th>
          <th class="col-sm-4">File</th>
          <th class="col-sm-3">Created</th>
          <th class="col-sm-1"></th>
        </tr>
      </thead>
      <tbody>
        @c.documents.map { doc =>
          <tr>
            <td>@doc.documentType.description</td>
            <td>
              <a href="@controllers.admin.routes.CaseDocumentController.download(c.clientCase.key.get, doc.id)">@doc.file.fileName</a>
            </td>
            <td>@helpers.JavaTime.Relative(doc.created)</td>
            <td>
              @defining(CaseDocumentController.deleteForm(doc.lastUpdated).fill(doc.lastUpdated)) { form =>
                @b3.inline.formCSRF(controllers.admin.routes.CaseDocumentController.delete(c.clientCase.key.get, doc.id), 'class -> "inline-form") { implicit ifc =>
                  @b3.validatedHidden(form, "version")
                  <button type="submit" class="btn btn-default btn-xs">Delete</button>
                }
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <p><a href="@controllers.admin.routes.CaseDocumentController.addDocumentForm(c.clientCase.key.get)" class="btn btn-default">Add document</a></p>

  <h2>Case notes</h2>

  @caseNotes.map { case (note, user) =>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="date pull-right">
            @helpers.JavaTime.Relative(note.created)
            @if(note.lastUpdated != note.created) {
              (last updated @helpers.JavaTime.Relative(note.lastUpdated))
            }
          </span>
          @{note.noteType.description}
        </h3>
      </div>
      <div class="panel-body">
        @views.utils.nl2br(note.text)
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <a class="btn btn-default btn-xs" href="@controllers.admin.routes.CaseController.editNoteForm(c.clientCase.key.get, note.id)">Edit</a>
          @defining(CaseController.deleteNoteForm(note.lastUpdated).fill(note.lastUpdated)) { form =>
            @b3.inline.formCSRF(controllers.admin.routes.CaseController.deleteNote(c.clientCase.key.get, note.id), 'class -> "inline-form") { implicit ifc =>
              @b3.validatedHidden(form, "version")
              <button type="submit" class="btn btn-default btn-xs">Delete</button>
            }
          }
        </div>
        <div class="author">@user.flatMap(_.name.full).getOrElse(s"[unknown user ${note.teamMember.string}]")</div>
      </div>
    </div>
  }

  @b3.vertical.formCSRF(controllers.admin.routes.CaseController.addNote(c.clientCase.key.get)) { implicit ifc =>
    <div class="panel panel-default panel-form">
      <div class="panel-heading">
        <h3 class="panel-title">Add a case note</h3>
      </div>
      <div class="panel-body">
        @b3.validatedHidden(noteForm, "version")
        @b3.textarea(noteForm("text"), 'rows -> 5)
      </div>
      <div class="panel-footer spaced-buttons">
        @if(c.clientCase.state != IssueState.Closed) {
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="submit" formaction="@controllers.admin.routes.CaseController.close(c.clientCase.key.get)" class="btn btn-primary"> Close case</button>
        } else {
          <button type="submit" formaction="@controllers.admin.routes.CaseController.reopen(c.clientCase.key.get)" class="btn btn-primary"> Reopen case</button>
        }
      </div>
    </div>
  }

  <h2>Appointments</h2>

  @* TODO *@

  <h2>Messages</h2>

  <div class="panel panel-default">
    <div class="panel-body">
      @c.messages.map { message =>
        @if(message.sender == MessageSender.Client) {
          <div class="message message-client">
            <div class="date pull-right">@helpers.JavaTime.Relative(message.created)</div>
            <div class="message--author">Client @* TODO *@</div>
            @views.utils.nl2br(message.text)
          </div>
        } else {
          <div class="message message-team">
            <div class="date pull-right">@helpers.JavaTime.Relative(message.created)</div>
            <div class="message--author">@message.teamMember.flatMap(usercode => userLookup.get(usercode).filter(_.isFound).flatMap(_.name.full)).getOrElse("Team member")</div>
            @views.utils.nl2br(message.text)
          </div>
        }
      }
    </div>
  </div>
}