@import java.time.OffsetDateTime

@import controllers.admin.CaseController.CaseNoteFormData
@import controllers.admin.{CaseController, CaseDocumentController}
@import domain.CaseNoteType._
@import domain._
@import domain.dao.CaseDao.Case
@import helpers.JavaTime
@import org.apache.tika.mime.MediaType
@import play.api.libs.json.Json
@import warwick.sso._
@(
  c: Case.FullyJoined,
  profiles: Map[Client, Option[SitsProfile]],
  owners: Seq[User],
  caseNotes: Seq[(CaseNote, Option[User])],
  sectionNotes: Map[CaseNoteType, Seq[(CaseNote, Option[User])]],
  originalEnquiry: Option[Enquiry],
  appointments: Seq[AppointmentRender],
  userLookup: Map[Usercode, User],
  noteForm: Form[CaseNoteFormData],
  messageForm: Form[String],
  history: CaseHistory,
  supportedMimeTypes: Seq[MediaType]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@caseLinks(links: Seq[EntityAndCreator[CaseLink]], description: CaseLinkType => String, target: CaseLink => Case) = {
  @if(links.nonEmpty) {
    <ul class="list-unstyled">
      @links.groupBy(_.entity.linkType).map { case (linkType, groupedLinks) => @groupedLinks.map { l =>
        <li>
          This case @description(linkType) <a href="@controllers.admin.routes.CaseController.view(target(l.entity).key.get)">@target(l.entity).key.get.string</a> @target(l.entity).subject<br />
          @l.entity.caseNote.text <br />
          Link added @helpers.JavaTime.Relative(l.entity.updatedDate).toLowerCase by @tags.creatorAndTeam(l.creator)
          @defining(CaseController.deleteForm(l.entity.updatedDate).fill(l.entity.updatedDate)) { form : Form[OffsetDateTime] =>
            @b3.inline.formCSRF(controllers.admin.routes.CaseController.deleteLink(c.clientCase.key.get, l.entity.id), 'class -> "inline-form") { implicit ifc =>
              @b3.validatedHidden(form, "version")
              <button type="submit" class="btn btn-sm btn-link" data-toggle="confirm-submit" data-message="Are you sure you want to delete this case link?">
                <i class="fas fa-times-circle"></i>
              </button>
            }
          }
        </li>
      }}
    </ul>
  }
}

@caseNote(note: CaseNote, user: Option[User]) = {
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="date pull-right">
          @helpers.JavaTime.Relative(note.created)
          @if(note.lastUpdated != note.created) {
            (last updated @helpers.JavaTime.Relative(note.lastUpdated))
          }
        </span>
        @{note.noteType.description}
      </h3>
    </div>
    <div class="panel-body">
    @views.utils.nl2br(note.text)
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <a class="btn btn-default btn-xs" href="@controllers.admin.routes.CaseController.editNoteForm(c.clientCase.key.get, note.id)">Edit</a>
        @defining(CaseController.deleteForm(note.lastUpdated).fill(note.lastUpdated)) { form: Form[OffsetDateTime] =>
          @b3.inline.formCSRF(controllers.admin.routes.CaseController.deleteNote(c.clientCase.key.get, note.id), 'class -> "inline-form") { implicit ifc =>
            @b3.validatedHidden(form, "version")
            <button type="submit" class="btn btn-default btn-xs" data-toggle="confirm-submit" data-message="Are you sure you want to delete this case note?">Delete</button>
          }
        }
      </div>
      <div class="author">@user.flatMap(_.name.full).getOrElse(s"[unknown user ${note.teamMember.string}]")</div>
    </div>
  </div>
}

@viewSectionNotes(noteType: CaseNoteType, link: String) = {
  @defining(sectionNotes.getOrElse(noteType, Nil)) { notes: Seq[(CaseNote, Option[User])] =>
    @if(notes.nonEmpty) {
      <a role="button" href="#@noteType.entryName-notes-modal" data-toggle="modal" data-target="#@noteType.entryName-notes-modal">
        View @tags.p(notes.size, link)()
      </a>

      <div class="modal fade" id="@noteType.entryName-notes-modal" tabindex="-1" role="dialog" aria-labelledby="@noteType.entryName-notes-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="@noteType.entryName-notes-modal-label">@{link.capitalize}s</h4>
            </div>
            <div class="modal-body">
              @notes.map { case (note, user) => @caseNote(note, user) }
            </div>
          </div>
        </div>
      </div>
    }
  }
}

@main(s"${c.clientCase.key.get.string} ${c.clientCase.subject}") {
  <div class="case-details">
    <div class="case-details--header">
      @profiles.keySet.toSeq.sorted.map { client =>
        <h5>
          <a href="@controllers.admin.routes.ClientController.client(client.universityID)">@client.safeFullName</a>,
          @client.universityID.string,
          @profiles.get(client).flatten.map { profile =>
            @views.tags.profiles.typeAndDepartment(profile)
          }
        </h5>
      }
    </div>
    <div class="case-details--actions row">
      <div class="col-sm-6 col-md-7 field-history" data-field-history="@Json.stringify(Json.toJson(history)(CaseHistory.writer))">

        @tags.sectioned.detail("Date raised"){ <div>@helpers.JavaTime.Relative(c.clientCase.created)</div> }

        @tags.sectioned.detail("Team"){
          <div data-field-history-field="team">@c.clientCase.team.name</div>
          @viewSectionNotes(Referral, "team assignment note")
        }

        @tags.sectioned.detail("State"){ <div data-field-history-field="state">@c.clientCase.state</div> }

        @if(c.clientCase.incidentDate.nonEmpty) {
          @* If currently related to an incident... *@
          @tags.sectioned.detail("Incident"){
            <span data-field-history-field="incidentDate">@helpers.JavaTime.Relative(c.clientCase.incidentDate.get)</span>
            <span data-field-history-field="onCampus">@if(c.clientCase.onCampus.contains(true)) { On-campus } else { Off-campus }</span>
            @if(c.clientCase.notifiedPolice.contains(true)) {
              <span data-field-history-field="notifiedPolice">
                <span class="label label-info">Police notified</span>
              </span>
            } else if (history.notifiedPolice.exists(_._1.contains(true))) {
              <span data-field-history-field="notifiedPolice">
                <span class="label label-info"><s>Police notified</s></span>
              </span>
            }

            @if(c.clientCase.notifiedAmbulance.contains(true)) {
              <span data-field-history-field="notifiedAmbulance">
                <span class="label label-info">Ambulance called</span>
              </span>
            } else if (history.notifiedAmbulance.exists(_._1.contains(true))) {
            <span data-field-history-field="notifiedAmbulance">
              <span class="label label-info"><s>Ambulance called</s></span>
            </span>
            }

            @if(c.clientCase.notifiedFire.contains(true)) {
              <span data-field-history-field="notifiedFire">
                <span class="label label-info">Fire service called</span>
              </span>
            } else if (history.notifiedFire.exists(_._1.contains(true))) {
            <span data-field-history-field="notifiedFire">
              <span class="label label-info"><s>Fire service called</s></span>
            </span>
            }
          }
        } else if(history.incidentDate.exists(_._1.nonEmpty)) {
          @* If not currently related to an incident but was previously... *@
          @tags.sectioned.detail("Incident"){
            <span data-field-history-field="incidentDate">Not currently related to an incident</span>
          }
        }

        @originalEnquiry.map { enquiry => @tags.sectioned.detail("Original enquiry"){
            <a href="@controllers.admin.routes.TeamEnquiryController.messages(enquiry.key)">@enquiry.key.string @enquiry.subject</a>
            -
            @helpers.JavaTime.Relative(enquiry.created)
        }}

        @tags.sectioned.detail("Cause"){ <div data-field-history-field="cause">@c.clientCase.cause.description</div> }

        @c.clientCase.caseType.map { caseType => @tags.sectioned.detail("Case type"){
            <div data-field-history-field="caseType">@caseType.description</div>
        }}

        @if(c.tags.nonEmpty || history.tags.size > 1) {
          @tags.sectioned.detail("Tags"){
            <div data-field-history-field="tags">
              @if(c.tags.nonEmpty) {
                @c.tags.toSeq.map(_.description).sorted.mkString(", ")
              } else {
                None
              }
            </div>
          }
        }

        @tags.manageOwners(
          owners,
          controllers.admin.routes.OwnersController.caseSubmit(c.clientCase.key.get),
          controllers.admin.routes.OwnersController.caseSubmitSelf(c.clientCase.key.get),
        )
      </div>
      <div class="col-sm-6 col-md-4 ">
        <div class="row form-horizontal">
          <div class="col-sm-4 control-label">
            Actions
          </div>
          <div class="col-sm-8">
            <p>
              @if(c.clientCase.state != IssueState.Closed) {
                <a href="@controllers.admin.routes.CaseController.closeForm(c.clientCase.key.get)" class="btn btn-primary btn-block">Close case</a>
              } else {
                <a href="@controllers.admin.routes.CaseController.closeForm(c.clientCase.key.get)" class="btn btn-primary btn-block">Reopen case</a>
              }
            </p>
            <p>
              <a href="@controllers.admin.routes.CaseController.editForm(c.clientCase.key.get)" class="btn btn-default btn-block">Edit case</a>
            </p>
            <p>
              <a href="@controllers.admin.routes.CaseDocumentController.addDocumentForm(c.clientCase.key.get)" class="btn btn-default btn-block">Add a document</a>
            </p>
            <p>
              <a href="@controllers.admin.routes.AppointmentController.createForm(c.clientCase.team.id, forCase = Some(c.clientCase.key.get))" class="btn btn-default btn-block">Create an appointment</a>
            </p>
            <p>
              <a href="@controllers.admin.routes.CaseController.linkForm(c.clientCase.key.get)" class="btn btn-default btn-block">Link to another case</a>
            </p>
            <p>
              <a href="@controllers.admin.routes.CaseController.reassign(c.clientCase.key.get)" class="btn btn-default btn-block">Assign to a different team</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    @tags.sectioned.section("case", "Case links", isCollapsible=true) {
      @if(c.outgoingCaseLinks.nonEmpty ||  c.incomingCaseLinks.nonEmpty){
        @caseLinks(c.outgoingCaseLinks, _.outwardDescription, _.incoming)
        @caseLinks(c.incomingCaseLinks, _.inwardDescription, _.outgoing)
      } else {
        <p>This case is not linked to any other cases</p>
      }
    }

    @tags.sectioned.section("case", "Documents", isCollapsible=true) {
      @if(c.documents.nonEmpty) {
        <ul class="list-unstyled">
          @c.documents.map { doc =>
            <li>
              <a href="@controllers.admin.routes.CaseDocumentController.download(c.clientCase.key.get, doc.entity.id)">@doc.entity.file.fileName</a>,
              @doc.entity.documentType.description,
              added @helpers.JavaTime.Relative(doc.entity.created) by @tags.creatorAndTeam(doc.creator)
              @defining(CaseDocumentController.deleteForm(doc.entity.lastUpdated).fill(doc.entity.lastUpdated)) { form: Form[OffsetDateTime] =>
                @b3.inline.formCSRF(controllers.admin.routes.CaseDocumentController.delete(c.clientCase.key.get, doc.entity.id), 'class -> "inline-form") { implicit ifc =>
                  @b3.validatedHidden(form, "version")
                  <button type="submit" class="btn btn-sm btn-link" data-toggle="confirm-submit" data-message="Are you sure you want to delete this document?">
                    <i class="fas fa-times-circle"></i>
                  </button>
                }
              } <br/>
              @doc.entity.caseNote.text
            </li>
          }
        </ul>
      } else {
        <p>This case has no documents</p>
      }
    }

    @tags.sectioned.section("case", "Appointments", isCollapsible=true) {
      @if(appointments.nonEmpty) {
        <table class="table table-default">
          <thead>
            <tr>
              <th class="col-sm-6">Subject</th>
              <th class="col-sm-3">When</th>
              <th class="col-sm-3">Staff member</th>
            </tr>
          </thead>
          <tbody>
          @appointments.map { a =>
            <tr>
              <td>
                @tags.icons.appointmentState(a.appointment.state)
                <a href="@controllers.admin.routes.AppointmentController.view(a.appointment.key)">
                  @a.appointment.key.string @a.appointment.subject(Some(userLookup), Some(a.clients))
                </a>
              </td>
              <td>
                @helpers.JavaTime.Relative(a.appointment.start) &ndash;
                @a.appointment.end.format(java.time.format.DateTimeFormatter.ofPattern("HH:mm"))
              </td>
              <td>@userLookup.get(a.appointment.teamMember).flatMap(_.name.full)</td>
            </tr>
          }
          </tbody>
        </table>
      } else {
        <p>This case has no appointments</p>
      }
    }

    @tags.sectioned.section("case", "Case notes", isCollapsible=true) {
      @if(c.clientCase.state != IssueState.Closed) {
        @b3.vertical.formCSRF(controllers.admin.routes.CaseController.addNote(c.clientCase.key.get)) { implicit ifc =>
          <div class="panel panel-default panel-form">
            <div class="panel-heading">
              <h3 class="panel-title">Add a case note</h3>
            </div>
            <div class="panel-body">
              @b3.validatedHidden(noteForm, "version")
              @b3.textarea(noteForm("text"), 'rows -> 5)
            </div>
            <div class="panel-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        }
      }

      @caseNotes.map { case (note, user) => @caseNote(note, user)}
    }

    @tags.sectioned.section("case", "Messages", isCollapsible = profiles.size == 1) {
      <div class="panel-group message-threads" id="messages-accordion" role="tablist" aria-multiselectable="true">
      @profiles.keySet.toSeq.sorted.map { client =>
        @defining(c.messages.byClient.getOrElse(client.universityID, Nil)) { messages: Seq[MessageRender] =>
          <div class="thread panel panel-default">
            <div class="panel-heading" role="tab" id="thread-heading-@client.universityID.string">
              <h4 class="panel-title">
              @if(profiles.size > 1){
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#enquiries-accordion" href="#collapse-thread-@client.universityID.string" aria-expanded="true" aria-controls="collapse-thread-@client.universityID">
                  <div class="pull-right">
                    @messages.lastOption.map { m =>
                      @JavaTime.Relative(m.message.created)
                    }
                    <i class="fas fa-fw fa-angle-down"></i>
                    <i class="fas fa-fw fa-angle-up"></i>
                  </div>
                  @client.safeFullName
                  @if(messages.isEmpty) {
                    (No messages)
                  } else {
                    (@tags.p(messages.length, "message")())
                  }
                </a>
              } else {
                <div class="pull-right">
                @messages.lastOption.map { m =>
                  @JavaTime.Relative(m.message.created)
                }
                </div>
                @if(messages.isEmpty) {
                  No messages
                } else {
                  @tags.p(messages.length, "message")()
                }
              }

              </h4>
            </div>
            <div id="collapse-thread-@client.universityID.string" class="panel-collapse @if(profiles.size > 1){ collapse }" role="tabpanel" aria-labelledby="thread-heading-@client.universityID.string">
              @if(messages.nonEmpty){
                <div class="panel-body">
                  @messages.map { render =>
                    @views.html.tags.messages.message(
                      render.message,
                      render.files,
                      "Client",
                      render.message.teamMember
                          .flatMap { usercode =>
                        userLookup.get(usercode)
                            .filter(_.isFound)
                            .flatMap(_.name.full)
                            .map { name => s"$name, ${render.message.team.getOrElse(c.clientCase.team).name} team" }
                      }.getOrElse(s"${render.message.team.getOrElse(c.clientCase.team).name} team"),
                      f => controllers.admin.routes.CaseMessageController.download(c.clientCase.key.get, f.id),
                      // TODO last view date for cases
                      None
                    )
                  }
                </div>
              }
              <div class="panel-footer">
              @if(c.clientCase.state != IssueState.Closed) {
                @tags.messages.messageForm(controllers.admin.routes.CaseMessageController.addMessage(c.clientCase.key.get, client.universityID), messageForm, supportedMimeTypes)
              }
              </div>
            </div>
          </div>
        }
      }
      </div>
    }

  </div>
}