@import controllers.admin.{CaseController, CaseDocumentController}
@import controllers.admin.CaseController.CaseNoteFormData
@import domain.dao.CaseDao.Case
@import domain.CaseLink
@import domain.CaseLinkType
@import domain.CaseNote
@import warwick.sso.User
@import domain.IssueState

@(
  c: Case.FullyJoined,
  caseNotes: Seq[(CaseNote, Option[User])],
  noteForm: Form[CaseNoteFormData]
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@caseLinks(links: Seq[CaseLink], description: CaseLinkType => String, target: CaseLink => Case) = {
  @if(links.nonEmpty) {
    <ul>
      @links.groupBy(_.linkType).map { case (linkType, l) =>
        <li>
          @description(linkType)
          <ul>
            @l.map { link =>
              <li><a href="@controllers.admin.routes.CaseController.view(target(link).key.get)">@target(link).key.get.string</a> @target(link).subject</li>
            }
          </ul>
        </li>
      }
    </ul>
  }
}

@main(s"Case ${c.clientCase.key.get.string}") {
  @* TODO *@

  <p><a class="btn btn-default" href="@controllers.admin.routes.CaseController.editForm(c.clientCase.key.get)">Edit case</a></p>

  <h2>Case links</h2>

  @caseLinks(c.outgoingCaseLinks, _.outwardDescription, _.incoming)
  @caseLinks(c.incomingCaseLinks, _.inwardDescription, _.outgoing)

  <p><a href="@controllers.admin.routes.CaseController.linkForm(c.clientCase.key.get)" class="btn btn-default">Create link</a></p>

  <h2>Case documents</h2>

  @if(c.documents.nonEmpty) {
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Document type</th>
          <th>File</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @c.documents.map { doc =>
          <tr>
            <td>@doc.documentType.description</td>
            <td>
              <a href="@controllers.admin.routes.CaseDocumentController.download(c.clientCase.key.get, doc.id)">@doc.file.fileName</a>
            </td>
            <td>@helpers.JavaTime.Relative(doc.created)</td>
            <td>
              @defining(CaseDocumentController.deleteForm(doc.lastUpdated).fill(doc.lastUpdated)) { form =>
                @b3.inline.formCSRF(controllers.admin.routes.CaseDocumentController.delete(c.clientCase.key.get, doc.id), 'class -> "inline-form") { implicit ifc =>
                  @b3.validatedHidden(form, "version")
                  <button type="submit" class="btn btn-default btn-xs">Delete</button>
                }
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <p><a href="@controllers.admin.routes.CaseDocumentController.addDocumentForm(c.clientCase.key.get)" class="btn btn-default">Add document</a></p>

  <h2>Case notes</h2>

  @caseNotes.map { case (note, user) =>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="date pull-right">
            @helpers.JavaTime.Relative(note.created)
            @if(note.lastUpdated != note.created) {
              (last updated @helpers.JavaTime.Relative(note.lastUpdated))
            }
          </span>
          @{note.noteType.description}
        </h3>
      </div>
      <div class="panel-body">
        @views.utils.nl2br(note.text)
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <a class="btn btn-default btn-xs" href="@controllers.admin.routes.CaseController.editNoteForm(c.clientCase.key.get, note.id)">Edit</a>
          @defining(CaseController.deleteNoteForm(note.lastUpdated).fill(note.lastUpdated)) { form =>
            @b3.inline.formCSRF(controllers.admin.routes.CaseController.deleteNote(c.clientCase.key.get, note.id), 'class -> "inline-form") { implicit ifc =>
              @b3.validatedHidden(form, "version")
              <button type="submit" class="btn btn-default btn-xs">Delete</button>
            }
          }
        </div>
        <div class="author">@user.flatMap(_.name.full).getOrElse(s"[unknown user ${note.teamMember.string}]")</div>
      </div>
    </div>
  }

  @b3.vertical.formCSRF(controllers.admin.routes.CaseController.addNote(c.clientCase.key.get)) { implicit ifc =>
    <div class="panel panel-default panel-form">
      <div class="panel-heading">
        <h3 class="panel-title">Add a case note</h3>
      </div>
      <div class="panel-body">
        @b3.validatedHidden(noteForm, "version")
        @b3.textarea(noteForm("text"), 'rows -> 5)
      </div>
      <div class="panel-footer spaced-buttons">
        @if(c.clientCase.state != IssueState.Closed) {
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="submit" formaction="@controllers.admin.routes.CaseController.close(c.clientCase.key.get)" class="btn btn-primary"> Close case</button>
        } else {
          <button type="submit" formaction="@controllers.admin.routes.CaseController.reopen(c.clientCase.key.get)" class="btn btn-primary"> Reopen case</button>
        }
      </div>
    </div>
  }
}