@import domain.MessageData
@import domain.Enquiry
@import domain.MessageSender
@(teams: Seq[domain.Team], enquiries: Seq[(Enquiry, Seq[MessageData])])(implicit context: RequestContext)

@main("Hello") {

  <p>If you have a question or would like to arrange to speak to somebody about an issue:</p>
  <a class="btn btn-primary" href="@controllers.enquiries.routes.EnquiryController.form()">Make an enquiry</a>

  @if(enquiries.nonEmpty) {
    <h2>Your enquiries</h2>

    @enquiries.map { case (enquiry, messages) =>
      <div class="enquiry panel panel-default">
        <div class="panel-body">
          @*<span class="badge pull-right">@helpers.JavaTime.Relative(enquiry.version)</span>*@
          <strong>Enquiry with @enquiry.team.name</strong>
          @tags.conversation(messages)
        </div>
      </div>
    }

  }
}