@import domain.RegistrationData
@import domain.Disabilities
@import domain.Medications
@import domain.RegistrationReferrals
@import warwick.sso.AuthenticatedRequest
@(form: Form[RegistrationData], existing: Option[domain.Registration])(implicit context: RequestContext, request: AuthenticatedRequest[_], messagesProvider: MessagesProvider)

@main("Register for Wellbeing Support Services") {

  @b3.vertical.formCSRF(controllers.registration.routes.RegisterController.submit()) { implicit ifc =>

    @if(form.hasErrors) {
      <div class="alert alert-danger">
        There were errors in your registration. Please correct them and submit again.
      </div>
    } else if(existing.nonEmpty) {
      <div class="alert alert-info">
        You have already registered, but you can update your registration below
      </div>
    }

    @b3.text(form("gp"),
      '_label -> "Confirm the name of your GP/Doctor"
    )

    @b3.text(form("tutor"),
      '_label -> "Confirm the name of your Personal Tutor/Supervisor"
    )

    @b3.checkboxGroup(
      label = "If you have a disability, please select from the options below",
      items = Disabilities.values,
      form = form,
      field = "disabilities",
      idPrefix = "disability"
    )

    @b3.checkboxGroup(
      label = "Are you currently taking any medication?",
      items = Medications.values,
      form = form,
      field = "medications",
      idPrefix = "medication"
    )

    @b3.textarea(form("appointment-adjustments"),
      '_label -> "Please give details of any reasonable adjustments required for an appointment (please leave blank if not relevant)",
      'rows -> 3
    )

    @b3.checkboxGroup(
      label = "Who referred you to Wellbeing Support Services?",
      items = RegistrationReferrals.values,
      form = form,
      field = "referrals",
      idPrefix = "referral"
    )

    @b3.free() {
      <p><a target="_blank" href="https://warwick.ac.uk/wellbeing-privacy">Privacy statement</a></p>
      @b3.checkbox(form("consent-privacy-statement"), '_text -> "I have read the privacy statement and agree to my data being used")
    }

    @tags.submitOrCancel(existing.map(_ => "Update").getOrElse("Submit"), controllers.routes.IndexController.home())

  }

}