@import controllers.locations.LocationsController.BuildingFormData
@import domain.Building

@(
  building: Building,
  form: Form[BuildingFormData],
)(implicit context: RequestContext, req: RequestHeader, messagesProvider: MessagesProvider)

@main("Edit building") {
  @b3.vertical.formCSRF(controllers.locations.routes.LocationsController.editBuilding(building.id)) { implicit ifc =>
    @b3.validatedHidden(form, "version")

    @buildingFields(form)

    @tags.submitOrCancel("Update", controllers.locations.routes.LocationsController.list())
  }
}