@import controllers.locations.LocationsController.RoomFormData
@import domain.Building
@import views.html.b3.B3FieldConstructor

@(
  buildings: Seq[Building],
  form: Form[RoomFormData],
)(implicit messagesProvider: MessagesProvider, fieldConstructor: B3FieldConstructor)

@b3.select(form("room.building"),
  options = buildings.map { b => b.id.toString -> b.name },
  '_label -> "Building",
  '_default -> "",
  'required -> true
)

@b3.text(form("room.name"),
  '_label -> "Name",
  'autocomplete -> "off",
)

@b3.text(form("room.wai2GoID"),
  '_label -> "Campus map",
  'autocomplete -> "off",
)

@b3.text(form("room.o365Usercode"),
  '_label -> "Office365 calendar usercode",
  'autocomplete -> "off",
)

@b3.checkbox(form("room.available"),
  '_text -> "Room available for scheduling appointments"
)